//////////////////////////////
//          ANIMATION       //
//////////////////////////////

@mixin animation($nameAnimation, $durationAnimation, $functionAnimation, $delayAnimation, $repeatAnimation, $directionAnimation, $stateAnimation)
  animation-name: $nameAnimation
  animation-duration: $durationAnimation
  animation-play-state: $stateAnimation
  animation-delay: $delayAnimation
  animation-iteration-count: $repeatAnimation
  animation-direction: $directionAnimation
  animation-timing-function: $functionAnimation