//////////////////////////////
//          COLORS         //
//////////////////////////////

@mixin text-color($color)
  color: $color

@mixin background-color($bgColor)
  color: $bgColor

@mixin border-color($borderColor)
  color: $borderColor