//////////////////////////////
//          COLORS         //
//////////////////////////////



@mixin text-color($variation, $color)
  color: color($variation, $color)

@mixin background-color($variation, $color)
  background-color: color($variation, $color)

@mixin border-color($variation, $color)
  border-color: color($variation, $color)