//////////////////////////////
//          COLORS         //
//////////////////////////////



=text-color($variation, $color)
  color: color($variation, $color)

=background-color($variation, $color)
  background-color: color($variation, $color)

=border-color($variation, $color)
  border-color: color($variation, $color)