
//////////////////////////////
//          SHADOWS         //
//////////////////////////////

@mixin box-shadow($level, $color)
@if $level == 'low'
  box-shadow: 6px 0 3px $color
@else if $level == 'mid'
  box-shadow: 24px 0 8px $color
@else if $level == 'high'
  box-shadow: 32px 0 16px $color
@else if $level == 'veryHigh'
  box-shadow: 48px 0 18px $color
@else if $level == 'none'
  box-shadow: none

@mixin text-shadow($level, $color)
@if $level == 'low'
  text-shadow: 6px 0 3px $color
@else if $level == 'mid'
  text-shadow: 24px 0 8px $color
@else if $level == 'high'
  text-shadow: 32px 0 16px $color
@else if $level == 'veryHigh'
  text-shadow: 48px 0 18px $color
@else if $level == 'none'
  text-shadow: none
