//////////////////////////////
//        TYPOGRAPHY        //
//////////////////////////////

// Tokens : Family
@import '../tokens/typrografy'
// Tokens : Size
@import '../tokens/spacing'

@mixin font($font-color, $font-size, $font-family)
  @include font-size($font-size)
  @include font-family($font-family)
  color: $font-color

@mixin font-size($modifier)
  @if $modifier == '$spancing-1'
    font-size: $spancing-1
  @else if $modifier == '$spancing-2'
    font-size: $spancing-2
  @else if $modifier == '$spancing-3'
    font-size: $spancing-3
  @else if $modifier == '$spancing-4'
    font-size: $spancing-4
  @else if $modifier == '$spancing-5'
    font-size: $spancing-5
  @else if $modifier == '$spancing-6'
    font-size: $spancing-6
  @else if $modifier == '$spancing-7'
    font-size: $spancing-7
  @else if $modifier == '$spancing-8'
    font-size: $spancing-8
  @else if $modifier == '$spancing-9'
    font-size: $spancing-9
  @else if $modifier == '$spancing-10'
    font-size: $spancing-10
  @else if $modifier == '$spancing-11'
    font-size: $spancing-11
  @else if $modifier == '$spancing-12'
    font-size: $spancing-12
  @else if $modifier == '$spancing-13'
    font-size: $spancing-13

@mixin font-family($font-family)
  @if $font-family == '$font-primary'
    font-family: $font-primary
  @else if $font-family == '$font-second'
    font-family: $font-second
  @else
    font-family: $font-second
