*
  margin: 0
  padding: 0
  box-sizing: border-box

.yoo-notify
  min-height: 75px
  padding: 5px 10px
  &__text
    font-family: 'Montserrat'
    @include font-size('$spacing-3')
    margin: 0 16px
    &--xxxs
      @include font-size('$spacing-1')

    &--xxs
      @include font-size('$spacing-2')

    &--xs
      @include font-size('$spacing-3')

    &--sm
      @include font-size('$spacing-4')

    &--md
      @include font-size('$spacing-5')

    &--lg
      @include font-size('$spacing-6')

    &--xl
      @include font-size('$spacing-7')

    &--xxl
      @include font-size('$spacing-8')

    &--xxxl
      @include font-size('$spacing-12')

    &--display
      @include font-size('$spacing-13')

    &--light
      color: $white

    &--dark
      color: $black

  &--primary
    background: color($primary, 'primaryDark')

  &--danger
    background: color($danger, 'dangerDark')

  &--light
    background: color($grey, 'greyLight')

.yoo-indicator
  margin-left: 16px
