.yoo-card
  border-bottom: 1px solid color($grey, 'greyLight')
  color: color($grey, 'greyBase')

  &:first-of-type
    border-top: 1px solid color($grey, 'greyLight')

.yoo-card__item
  padding: 8px 0 8px 19px
  margin: 16px 0
  @include font-size('$spacing-4')

  &--border-left
    border-left: 3px solid
    padding-left: 16px

  &--border-fill-neutral
    border-left-color: color($grey, 'greyBase')

  &--border-fill-primary
    border-left-color: color($primary, 'primaryBase')

  &--border-fill-danger
    border-left-color: color($danger, 'dangerBase')

  &--border-fill-light
    border-left-color: color($grey, 'greyLight')

  &--border-fill-dark
    border-left-color: color($grey, 'greyDark')

  &--border-fill-darkest
    border-left-color: color($grey, 'greyDarkest')

.yoo-card__title
  width: 100%
  margin: 0
  @include font-weight('medium')
  color: color($grey, 'greyDarkest')

.yoo-card__subtitle
  width: 100%
  margin: 0
  @include font-weight('medium')
  @include font-size('$spacing-3')
