.yoo-card
  border-bottom: 1px solid color($grey, 'greyLight')
  color: color($grey, 'greyBase')
  font-family: $font-primary
  @include font-size('lg')

  &:first-of-type
    border-top: 1px solid color($grey, 'greyLight')

  &__style
    &--border-true
      border-left: 3px solid
      padding-left: $spacing-md


  &__fill
    &--border-neutral
      border-left-color: color($grey, 'greyBase')

    &--border-primary
      border-left-color: color($primary, 'primaryBase')

    &--border-danger
      border-left-color: color($danger, 'dangerBase')

    &--border-light
      border-left-color: color($grey, 'greyLight')

    &--border-dark
      border-left-color: color($grey, 'greyDark')

    &--border-darkest
      border-left-color: color($grey, 'greyDarkest')

.yoo-card__title
  width: 100%
  margin: 0
  +font-weight('medium')
  color: color($grey, 'greyDarkest')

.yoo-card__subtitle
  width: 100%
  margin: 0
  +font-weight('medium')
  font-size: 12px
