$placeholder-transition: 300ms ease-in-out

.yoo-input-group
  +font-family($font-primary)
  margin: 40px 0 0
  width: 100%

  .yoo-input
    position: relative
    display: block
    width: 100%
    min-height: $spacing-hg - 14
    &::before
      content: ""
      height: $spacing-tn
      width: 100%
      background-color: color($primary, 'primaryBase')
      position: absolute
      z-index: 2
      bottom: -$spacing-tn
      transform: scale(0)
      transition: all $placeholder-transition

    &:focus-within
      &::before
        transform: scale(1)

    &__label
      position: absolute
      display: block
      top: $spacing-lg
      z-index: 2
      +font-size('md')
      +font-weight('semi-bold')
      transition: all $placeholder-transition
      width: 100%
      cursor: text
      color: color($grey, 'greyDark')

      i
        position: absolute
        right: 0
        bottom: -($spacing-lg)

    &__feedback
      position: absolute
      bottom: -($spacing-lg - 4)
      +font-size('sm') // Estava 0.7em (11.2px)
      font-weight: 500

    &__field
      position: absolute
      top: $spacing-lg - 4
      z-index: 1
      width: 100%
      min-height: $spacing-xl - 2
      +font-size('lg')
      color: color($grey, 'greyDark')
      border: 0
      border-bottom: 1px solid color($grey, 'greyBase')
      transition: border-color $placeholder-transition
      outline: none
      padding: 0
      margin: 0

      &::placeholder
        color: color($grey, 'greyLight')
        +font-weight('medium')
        +font-size('lg')
        opacity: 0

      &:focus,
      &:valid,
      &:disabled
        background-color: transparent

        & + .yoo-input__label
          top: 0
          cursor: inherit
          @include font-size('md')

        &::placeholder
          opacity: 1

      &:focus
        & + .yoo-input__label
          color: color($grey, 'greyBase')

      &:disabled
        & + .yoo-input__label
          color: color($grey, 'greyLight')

    &--error
      .yoo-input__label,
      .yoo-input__feedback
        color: color($danger, 'dangerBase')

        i::before
          content: "\f00d"

      &::before
        background-color: color($danger, 'dangerBase')
        transform: scale(1)

    &--success
      .yoo-input__label,
      .yoo-input__feedback
        color: color($primary, 'primaryBase')

        i::before
          content: "\f00c"

      &::before
        background-color: color($primary, 'primaryBase')
        transform: scale(1)