.yoo-post-card
  +border-radius('md')
  +border('sm', color($grey, 'greyLight'), solid)
  +box-shadow('soft', color($grey, 'greyLight'))
  padding: $spacing-md
  width: 100%

  &--fill-white
    background-color: $white
    $color: color($grey, 'greyDark')
    color: $color

    .yoo-post-card__subtitle
      color: lighten($color, 10%)

  &--fill-primary
    background-color: color($primary, 'primaryBase')
    $color: $white
    color: $color

    .yoo-post-card__subtitle
      color: darken($color, 10%)

  &--fill-danger
    background-color: color($danger, 'dangerBase')
    $color: color($grey, 'greyLight')
    color: $color

    .yoo-post-card__subtitle
      color: darken($color, 10%)

  &--fill-neutral
    background-color: color($grey, 'greyBase')
    $color: color($grey, 'greyDark')
    color: $color

    .yoo-post-card__subtitle
      color: lighten($color, 10%)

  &--fill-light
    background-color: color($grey, 'greyLight')
    $color: color($grey, 'greyDark')
    color: $color

    .yoo-post-card__subtitle
      color: lighten($color, 10%)

  &--fill-dark
    background-color: color($grey, 'greyDark')
    $color: $white
    color: $color

    .yoo-post-card__subtitle
      color: darken($color, 10%)

  &__icon
    margin-bottom: $spacing-sm + 2

  &__title
    margin: 0
    +font-size('lg')

  &__subtitle
    margin: 0
    +font-size('md')