.yoo-switch-container
  margin: 20px 5px

.yoo-switch
  visibility: hidden
  position: absolute
  margin-left: -9999px

  + label
    display: block
    position: relative
    cursor: pointer
    outline: none
    user-select: none
    padding: 2px

  &--small
    + label
      width: 40px
      height: 14px
      background-color: #dddddd
      border-radius: 20px

  &--medium
    + label
      width: 60px
      height: 21px
      background-color: #dddddd
      border-radius: 30px

  &--large
    + label
      width: 90px
      height: 32px
      background-color: #dddddd
      border-radius: 45px

  + label:before,
  + label:after
    display: block
    position: absolute
    top: 1px
    left: 1px
    bottom: 1px
    content: ""

  + label:before
    right: 1px
    background-color: #f1f1f1
    border-radius: 60px
    transition: background 0.4s

  + label:after
    background-color: #fff
    border-radius: 100%
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
    transition: all 0.4s

  &--small
    + label:after
      width: 21px
      top: -3px
      bottom: -3px

  &--medium
    + label:after
      width: 32px
      top: -5px
      bottom: -5px

  &--large
    + label:after
      width: 48px
      top: -8px
      bottom: -8px

  &:checked + label:before
    top: 0px
    left: 0px
    bottom: 0px
    background-color: lighten(color($primary, 'primaryBase'), 35%)

  &:checked + label:after
    background-color: color($primary, 'primaryBase')

  &--small
    &:checked + label:after
      transform: translateX(24px)

  &--medium
    &:checked + label:after
      transform: translateX(36px)

  &--large
    &:checked + label:after
      transform: translateX(54px)
