.yoo-switch-card
  transition: 3s ease
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2)
  border: 1px solid color($grey, 'greyLight')
  border-radius: 8px
  margin: 8px 16px
  padding: 16px
  color: color($grey, 'greyBase')

  &--fill-primary
    background-color: color($primary, 'primaryDark')

  &--active
    background-color: color($primary, 'primaryDark')
    color: $white
