.yoo-switch-card
  transition: 0.2s ease
  +box-shadow('soft', rgba(0, 0, 0, 0.2))
  +border('sm', color($grey, 'greyLight'), solid) 
  +border-radius('md')
  color: color($grey, 'greyBase')

  &--fill-primary
    background-color: color($primary, 'primaryDark')

  &--active
    background-color: color($primary, 'primaryDark')
    color: $white
