.yoo-table-attribute
  color: color($grey, 'greyDark')
  font-family: $font-primary

  &--separated
    border-bottom: 1px solid color($grey, 'greyLight')

  &--tall
    height: $spacing-hg

  &__title
    +font-weight('semi-bold')
    display: flex
    align-items: center
    +font-size('md')

    &--wrap
      margin-bottom: 0

    &--primary
      color: color($primary, 'primaryDark')

    &--danger
      color: color($danger, 'dangerBase')

    &--light
      color: color($grey, 'greyLight')

    &--dark
      color: color($grey, 'greyDark')

  &__detail
    +font-weight('regular')
    +font-size('sm')
    text-align: right
    word-wrap: anywhere
    display: flex
    align-items: center

    &--wrap
      margin-top: $spacing-sm
      text-align: left

    .yoo-checkbox
      margin-left: $spacing-sm

    &--primary
      color: color($primary, 'primaryDark')

    &--danger
      color: color($danger, 'dangerBase')

    &--light
      color: color($grey, 'greyLight')

    &--dark
      color: color($grey, 'greyDark')

  &__control
    margin-left: $spacing-md
