.yoo-table-attribute
  color: color($grey, 'greyDark')
  font-family: $font-primary
  height: $spacing-hg - 8px
  &--separated
    border-bottom: 1px solid color($grey, 'greyLight')

  &--tall
    height: $spacing-hg

  &__title
    display: flex
    align-items: center
    &--primary
      color: color($primary, 'primaryDark')
    &--danger
      color: color($danger, 'dangerBase')
    &--light
      color: color($grey, 'greyBase')
    &--dark
      color: color($grey, 'greyDark')
    &--black
      color: $black

    &--bold
      +font-weight('bold')
    &--semi-bold
      +font-weight('semi-bold')
    &--medium
      +font-weight('medium')
    &--regular
      +font-weight('regular')

    &--sm
      +font-size('sm')
    &--md
      +font-size('md')
    &--lg
      +font-size('lg')
    &--xl
      +font-size('xl')

  &__detail
    +font-weight('medium')
    +font-size('sm')
    text-align: right
    word-wrap: anywhere
    display: flex
    align-items: center
    &--primary
      color: color($primary, 'primaryDark')

    &--danger
      color: color($danger, 'dangerBase')

    &--light
      color: color($grey, 'greyBase')

    &--dark
      color: color($grey, 'greyDark')
