@import '../quarks/typography'


.yoo-list-item
  color: var(--greyBase)
  font-family: var(--fontFamily-primary)
  @include font-size('lg')

  &__style
    &--wrap
      flex-wrap: wrap !important

  &--border-left
    border-left: var(--spacing-xs) solid
    padding-left: var(--spacing-md)

  &--separated
    border-bottom: 1px solid var(--greyLight)

  &__fill
    &--border-neutral
      border-left-color: var(--greyBase)

    &--border-primary
      border-left-color: var(--primaryBase)

    &--border-danger
      border-left-color: var(--dangerBase)

    &--border-light
      border-left-color: var(--greyLight)

    &--border-dark
      border-left-color: var(--greyDark)

    &--border-darkest
      border-left-color: var(--greyDarkest)

  &__title
    margin: 0
    +font-weight('medium')
    color: var(--color-black)
    +font-size('lg')

  &__subtitle
    +font-weight('medium')
    +font-size('xs')
    color:  var(--primaryDark)
    margin-left: var(--spacing-xs)