.yoo-table-attribute
  color: map-get($grey, 'greyDark')
  font-family: $font-primary
  min-height: $spacing-sm * 5
  &--separated
    border-bottom: 1px solid map-get($grey, 'greyLight')

  &--tall
    height: $spacing-hg
  &--wrap
    height: $spacing-sm * 7
  &__fill
    &--default
      background-color: map-get($grey, 'greyLightest')
    &--primary
      background-color: map-get($primary, 'primaryBase')
      color: $white
    &--danger
      background-color: map-get($danger, 'dangerBase')
      color: $white

  &__title
    +flex(row, wrap, flex-start, center)
    &--primary
      color: map-get($primary, 'primaryDark')
    &--danger
      color: map-get($danger, 'dangerBase')
    &--neutral
      color: map-get($grey, 'greyBase')
    &--dark
      color: map-get($grey, 'greyDark')
    &--black
      color: $black
    &--white
      color: $white

    &--bold
      +font-weight('bold')
    &--semi-bold
      +font-weight('semi-bold')
    &--medium
      +font-weight('medium')
    &--regular
      +font-weight('regular')

    &--sm
      +font-size('sm')
    &--md
      +font-size('md')
    &--lg
      +font-size('lg')
    &--xl
      +font-size('xl')

  &__detail
    +font-weight('medium')
    +font-size('sm')
    text-align: right
    word-wrap: anywhere
    max-height: $spacing-sm * 5
    +flex(row, wrap, flex-start, center)
    &--primary
      color: map-get($primary, 'primaryDark')
    &--danger
      color: map-get($danger, 'dangerBase')
    &--light
      color: map-get($grey, 'greyBase')
    &--dark
      color: map-get($grey, 'greyDark')
    &--white
      color: $white
    &--black
      color: $black
    &--wrap
      text-align: left

  &__actionable
    max-height: $spacing-sm * 5
