/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * Sass Yoonit Style
 * The SASS Atomic Design System that powers Web & Native Yoonit Components
 *
 * Luigui Delyer, Vitória Costa, Sabrina Sampaio, Gabriel Moraes, Tiago Brito, Fernando Junior, Ronalson Filho, Gabriel Moraes, Gabriel Mule & Gabriel Rizzo @ 2020-2021
 */

/*===== TableAttribute Min Height ====*/
$tableAttribute-min-height: 2.5rem !default

/*===== TableAttribute Border Bottom ====*/
$tableAttribute-border-bottom: 1px solid var(--greyLight) !default

/*===== TableAttribute Title Font Weight ====*/
$tableAttribute-title-font-weight-regular: $weight-regular !default
$tableAttribute-title-font-weight-medium: $weight-medium !default
$tableAttribute-title-font-weight-semi-bold: $weight-semi-bold !default
$tableAttribute-title-font-weight-bold: $weight-bold !default

/*===== TableAttribute Title Font Sizing ====*/
$tableAttribute-title-font-size-sm: $font-size-sm !default
$tableAttribute-title-font-size-md: $font-size-md !default
$tableAttribute-title-font-size-lg: $font-size-lg !default
$tableAttribute-title-font-size-xl: $font-size-xl !default

/*===== TableAttribute Title Word Break ====*/
$tableAttribute-title-word-break: break-word !default

/*===== TableAttribute Tall Height ====*/
$tableAttribute-tall-height: $spacing-hg !default

/*===== TableAttribute Wrap Height ====*/
$tableAttribute-wrap-height: 3.5rem !default

/*===== TableAttribute Detail Font Sizing ====*/
$tableAttribute-detail-font-size: $font-size-md !default
$tableAttribute-detail-font-weight: $weight-medium !default
$tableAttribute-detail-text-align: right !default
$tableAttribute-detail-word-wrap: anywhere !default
$tableAttribute-detail-max-height: 2.5rem !default
$tableAttribute-detail-wrap-text-align: left !default

/*===== TableAttribute Actionable Max Height ====*/
$tableAttribute-actionable-max-height: 2.5rem !default

.yoo-table-attribute
  color: var(--greyDark)
  font-family: var(--fontFamily-primary)
  min-height: $tableAttribute-min-height
  &--separated
    border-bottom: $tableAttribute-border-bottom

  &--tall
    height: $tableAttribute-tall-height
  &--wrap
    height: $tableAttribute-wrap-height
  &__fill
    &--default
      background-color: var(--greyLightest)
    &--primary
      background-color: var(--primaryBase)
      color: var(--color-white)
    &--danger
      background-color: var(--dangerBase)
      color: var(--color-white)

  &__title
    +flex(row, wrap, flex-start, center)
    word-break: $tableAttribute-title-word-break
    &--primary
      color: var(--primaryDark)
    &--danger
      color: var(--dangerBase)
    &--neutral
      color: var(--greyBase)
    &--dark
      color: var(--greyDark)
    &--black
      color: var(--color-black)
    &--white
      color: var(--color-white)

    &--bold
      font-weight: $tableAttribute-title-font-weight-bold
    &--semi-bold
      font-weight: $tableAttribute-title-font-weight-semi-bold
    &--medium
      font-weight: $tableAttribute-title-font-weight-medium
    &--regular
      font-weight: $tableAttribute-title-font-weight-regular

    &--sm
      font-size: $tableAttribute-title-font-size-sm
    &--md
      font-size: $tableAttribute-title-font-size-md
    &--lg
      font-size: $tableAttribute-title-font-size-lg
    &--xl
      font-size: $tableAttribute-title-font-size-xl

  &__detail
    font-weight: $tableAttribute-detail-font-weight
    font-size: $tableAttribute-detail-font-size
    text-align: $tableAttribute-detail-text-align
    word-wrap: $tableAttribute-detail-word-wrap
    max-height: $tableAttribute-detail-max-height
    +flex(row, wrap, flex-start, center)
    &--primary
      color: var(--primaryDark)
    &--danger
      color: var(--dangerBase)
    &--light
      color: var(--greyBase)
    &--dark
      color: var(--greyDark)
    &--white
      color: var(--color-white)
    &--black
      color: var(--color-black)
    &--wrap
      text-align: $tableAttribute-detail-wrap-text-align

  &__actionable
    max-height: $tableAttribute-actionable-max-height
