////////////////////////////////
//       SPACING PALLET       //
////////////////////////////////

/*===== Variations sizes ====*/

$spacing-tn: 2px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-hg: 64px;
