////////////////////////////////
//       SPACING PALLET       //
////////////////////////////////

/*===== Variations sizes ====*/

$small: 4px;
$small-2: 8px;
$small-3: 12px;
$small-4: 16px;

$medium: 20px;
$medium-2: 24px;
$medium-3: 28px;
$medium-4: 32px;

$large: 36px;
$large-2: 48px;
$large-3: 64px;