/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * Sass Yoonit Style
 * The SASS Atomic Design System that powers Web & Native Yoonit Components
 *
 * Luigui Delyer, Vitória Costa, Sabrina Sampaio, Gabriel Moraes, Tiago Brito, Fernando Junior, Ronalson Filho, Gabriel Moraes, Gabriel Mule & Gabriel Rizzo @ 2020-2021
 */

/*===== ButtonToogle Height ====*/
$buttonToggleHeight: 3.375rem !default

/*===== ButtonToogle Border ====*/
$buttonToggle-border: 1px solid var(--greyDark) !default

/*===== ButtonToogle Border Radius ====*/
$buttonToggle-border-radius: $border-radius-pill !default

.yoo-button-toggle
  position: relative
  height: $buttonToggleHeight
  border: $buttonToggle-border
  border-radius: $buttonToggle-border-radius

  &__container
    position: absolute
    width: calc(100% + 2px)
    border-radius: $buttonToggle-border-radius
    top: -1px
    left: -1px

    .yoo-btn__fill--primary.yoo-btn--base
      box-shadow: 0 3px 6px rgba(var(--color-black), 0.16)
