$card-title-font-size: $font-size-lg !default
$card-subtitle-font-size: $font-size-md !default

$card-border-size: 1px !default
$card-border-color: var(--greyLight) !default
$card-border-style: solid !default
$card-border-radius: .5rem !default

$card-padding: 1rem !default

$card-icon-margin-bottom: 10px !default

.yoo-card
  border: $card-border-size $card-border-style $card-border-color
  border-radius: $card-border-radius
  +box-shadow('soft', var(--greyLight))
  font-family: var(--fontFamily-primary)
  padding: $card-padding

  &__fill
    &--white
      background-color: var(--color-white)
      $color: var(--greyDark)
      color: $color

      .yoo-card__subtitle
        color: lighten(#5A5F67, 10%)

    &--primary
      background-color: var(--primaryBase)
      $color: var(--color-white)
      color: $color

      .yoo-card__subtitle
        color: darken(#FFF, 10%)

    &--danger
      background-color: var(--dangerBase)
      $color: var(--color-white)
      color: $color

      .yoo-card__subtitle
        color: $color

    &--neutral
      background-color: var(--greyBase)
      $color: var(--color-white)
      color: $color

      .yoo-card__subtitle
        color: $color

    &--light
      background-color: var(--greyLight)
      $color: var(--greyDark)
      color: $color

      .yoo-card__subtitle
        color: lighten(#5A5F67, 10%)

    &--dark
      background-color: var(--greyDark)
      $color: var(--color-white)
      color: $color

      .yoo-card__subtitle
        color: darken(#FFF, 10%)

  &__icon
    margin-bottom: $card-icon-margin-bottom

  &__title
    margin: 0
    font-size: $card-title-font-size

  &__subtitle
    margin: 0
    font-size: $card-subtitle-font-size
