/*===== FormGroup Font Sizing ====*/
$formGroup-font-size-sm: $font-size-sm !default
$formGroup-font-size-md: $font-size-md !default
$formGroup-font-size-lg: $font-size-lg !default

/*===== FormGroup Font Weight ====*/
$formGroup-font-weight-medium: $weight-medium !default
$formGroup-font-weight-semi-bold: $weight-semi-bold !default

/*===== FormGroup Placeholder Transition ====*/
$formGroup-placeholder-transition: 300ms ease-in-out !default

.yoo-input-group
  font-family: var(--fontFamily-primary)
  margin: 2.5rem 0 0
  width: 100%

  .yoo-input
    position: relative
    display: block
    width: 100%
    min-height: 3.125rem
    &::before
      content: ""
      height: $spacing-tn
      width: 100%
      background-color: var(--primaryBase)
      position: absolute
      z-index: 2
      bottom: -2px
      transform: scale(0)
      transition: all $formGroup-placeholder-transition

    &:focus-within
      &::before
        transform: scale(1)

    &__label
      position: absolute
      display: block
      top: $spacing-lg
      z-index: 2
      font-size: $formGroup-font-size-md
      font-weight: $formGroup-font-weight-semi-bold
      font-family: var(--fontFamily-primary)
      transition: all $formGroup-placeholder-transition
      width: 100%
      cursor: text
      color: var(--greyDark)

      i
        position: absolute
        right: 0
        bottom: -1.5rem

    &__feedback
      position: absolute
      bottom: -1.25rem
      +font-size('sm')
      font-family: var(--fontFamily-primary)
      font-weight: 500

    &__field
      position: absolute
      top: 1.25rem
      z-index: 1
      width: 100%
      min-height: 1.875rem
      font-size: $formGroup-font-size-sm
      color: var(--greyDark)
      border: 0
      border-bottom: 1px var(--greyDark) solid
      transition: border-color $formGroup-placeholder-transition
      outline: none
      padding: 0
      margin: 0

      &:nth-child(1)
        font-family: var(--fontFamily-primary)

      &::placeholder
        color: var(--greyLight)
        font-weight: $formGroup-font-weight-medium
        font-size: $formGroup-font-size-lg
        font-family: var(--fontFamily-primary)
        opacity: 0

      &:focus,
      &:valid,
      &:disabled
        background-color: transparent

        & + .yoo-input__label
          top: 0
          cursor: inherit
          font-size: $formGroup-font-size-md

        &::placeholder
          opacity: 1

      &:focus
        & + .yoo-input__label
          color: var(--greyBase)

      &:disabled
        border-bottom: 1px var(--greyLight) solid
        & + .yoo-input__label
          color: var(--greyLight)

    &--error
      .yoo-input__label,
      .yoo-input__feedback
        color: var(--dangerBase)

        i::before
          content: "\f00d"

      &::before
        background-color: var(--dangerBase)
        transform: scale(1)

    &--success
      .yoo-input__label,
      .yoo-input__feedback
        color: var(--primaryBase)

        i::before
          content: "\f00c"

      &::before
        background-color: var(--primaryBase)
        transform: scale(1)
