$placeholder-transition: 300ms ease-in-out

.yoo-input-group
  +font-family($font-primary)
  margin: 40px 0 0
  width: 100%

  .yoo-input
    position: relative
    display: block
    width: 100%
    min-height: $spacing-hg - 14
    +font-family($font-primary)
    &::before
      content: ""
      height: $spacing-tn
      width: 100%
      background-color: map-get($primary, 'primaryBase')
      position: absolute
      z-index: 2
      bottom: -$spacing-tn
      transform: scale(0)
      transition: all $placeholder-transition

    &:focus-within
      &::before
        transform: scale(1)

    &__label
      position: absolute
      display: block
      top: $spacing-lg
      z-index: 2
      +font-size('md')
      +font-weight('semi-bold')
      +font-family($font-primary)
      transition: all $placeholder-transition
      width: 100%
      cursor: text
      color: map-get($grey, 'greyDark')

      i
        position: absolute
        right: 0
        bottom: -($spacing-lg)

    &__feedback
      position: absolute
      bottom: -($spacing-lg - 4)
      +font-size('sm')
      +font-family($font-primary)
      font-weight: 500

    &__field
      position: absolute
      top: $spacing-lg - 4
      z-index: 1
      width: 100%
      min-height: $spacing-xl - 2
      +font-size('lg' + 2)
      +font-family($font-primary)
      color: map-get($grey, 'greyDark')
      border: 0
      border-bottom: 1px map-get($grey, 'greyDark') solid
      transition: border-color $placeholder-transition
      outline: none
      padding: 0
      margin: 0

      &:nth-child(1)
        +font-family($font-primary)

      &::placeholder
        color: map-get($grey, 'greyLight')
        +font-weight('medium')
        +font-size('lg')
        +font-family($font-primary)
        opacity: 0

      &:focus,
      &:valid,
      &:disabled
        background-color: transparent
        +font-family($font-primary)

        & + .yoo-input__label
          top: 0
          cursor: inherit
          @include font-size('md')
          +font-family($font-primary)

        &::placeholder
          opacity: 1

      &:focus
        & + .yoo-input__label
          color: map-get($grey, 'greyBase')
          +font-family($font-primary)

      &:disabled
        border-bottom: 1px map-get($grey, 'greyLight') solid
        & + .yoo-input__label
          color: map-get($grey, 'greyLight')
          +font-family($font-primary)

    &--error
      .yoo-input__label,
      .yoo-input__feedback
        color: map-get($danger, 'dangerBase')
        +font-family($font-primary)

        i::before
          content: "\f00d"

      &::before
        background-color: map-get($danger, 'dangerBase')
        transform: scale(1)

    &--success
      .yoo-input__label,
      .yoo-input__feedback
        color: map-get($primary, 'primaryBase')
        +font-family($font-primary)

        i::before
          content: "\f00c"

      &::before
        background-color: map-get($primary, 'primaryBase')
        +font-family($font-primary)
        transform: scale(1)
