/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * Sass Yoonit Style
 * The SASS Atomic Design System that powers Web & Native Yoonit Components
 *
 * Luigui Delyer, Vitória Costa, Sabrina Sampaio, Gabriel Moraes, Tiago Brito, Fernando Junior, Ronalson Filho, Gabriel Moraes, Gabriel Mule & Gabriel Rizzo @ 2020-2021
 */

/*===== Form Group Font Sizing ====*/
$form-group-font-size-sm: $font-size-sm !default
$form-group-font-size-md: $font-size-md !default
$form-group-font-size-lg: $font-size-lg !default

/*===== Form Group Font Weight ====*/
$form-group-font-weight-medium: $weight-medium !default
$form-group-font-weight-semi-bold: $weight-semi-bold !default

/*===== Form Group Placeholder Transition ====*/
$form-group-placeholder-transition: 300ms ease-in-out !default

/*===== Form Group Feedback Font Sizing ====*/
$form-group-feedback-font-size: $font-size-sm !default

.yoo-input-group
  font-family: var(--font-family-primary)
  margin: 2.5rem 0 0
  width: 100%

  .yoo-input
    position: relative
    display: block
    width: 100%
    min-height: 3.125rem
    &::before
      content: ""
      height: 3px
      width: 100%
      background-color: var(--primary-base)
      position: absolute
      z-index: 2
      bottom: -2px
      transform: scale(0)
      transition: all $form-group-placeholder-transition

    &:focus-within
      &::before
        transform: scale(1)

    &__label
      position: absolute
      display: block
      top: $spacing-lg
      z-index: 2
      font-size: $form-group-font-size-md
      font-weight: $form-group-font-weight-semi-bold
      font-family: var(--font-family-primary)
      transition: all $form-group-placeholder-transition
      width: 100%
      cursor: text
      color: var(--grey-dark)

      i
        position: absolute
        right: 0
        bottom: -1.5rem

    &__feedback
      position: absolute
      bottom: -1.25rem
      font-size: $form-group-feedback-font-size
      font-family: var(--font-family-primary)
      font-weight: 500

    &__field
      position: absolute
      top: 1.25rem
      z-index: 1
      width: 100%
      min-height: 1.875rem
      font-size: $form-group-font-size-sm
      color: var(--grey-dark)
      border: 0
      border-bottom: 1px var(--grey-dark) solid
      transition: border-color $form-group-placeholder-transition
      outline: none
      padding: 0
      margin: 0

      &:nth-child(1)
        font-family: var(--font-family-primary)

      &::placeholder
        color: var(--grey-light)
        font-weight: $form-group-font-weight-medium
        font-size: $form-group-font-size-lg
        font-family: var(--font-family-primary)
        opacity: 0

      &:focus,
      &:valid,
      &:disabled
        background-color: transparent

        & + .yoo-input__label
          top: 0
          cursor: inherit
          font-size: $form-group-font-size-md

        &::placeholder
          opacity: 1

      &:focus
        & + .yoo-input__label
          color: var(--grey-base)

      &:disabled
        border-bottom: 1px var(--grey-light) solid
        & + .yoo-input__label
          color: var(--grey-light)

    &--error
      .yoo-input__label,
      .yoo-input__feedback
        color: var(--danger-base)

        i::before
          content: "\f00d"

      &::before
        background-color: var(--danger-base)
        transform: scale(1)

    &--success
      .yoo-input__label,
      .yoo-input__feedback
        color: var(--primary-base)

        i::before
          content: "\f00c"

      &::before
        background-color: var(--primary-base)
        transform: scale(1)
