$header-font-size: $font-size-sm !default
$header-width: 100% !default
$header-letter-spacing: 0.48px !default

.yoo-header
  width: $header-width
  font-family: var(--fontFamily-primary)
  font-size: $header-font-size
  color: var(--greyBase)
  letter-spacing: $header-letter-spacing