/*===== Header Size ====*/
$header-width: 100% !default

/*===== Header Font Sizing ====*/
$header-font-size: $font-size-sm !default

/*===== Header Letter Spacing ====*/
$header-letter-spacing: 0.48px !default

.yoo-header
  width: $header-width
  font-family: var(--fontFamily-primary)
  font-size: $header-font-size
  color: var(--greyBase)
  letter-spacing: $header-letter-spacing