@import "../themes/global.scss"

@import '../bosons/colors'
@import '../bosons/margin'
@import '../bosons/padding'
@import '../bosons/YooGridLayout'
@import '../bosons/YooFlexLayout'
@import '../bosons/YooScrollView'

@import '../quarks/colors'
@import '../quarks/animation'
@import '../quarks/border'
@import '../quarks/shadows'
@import '../quarks/typography'
@import '../quarks/flex'


.yoo-header
  width: 100%
  +font-family('$font-primary')
  +font-size('sm')
  color: var(--greyBase)
  letter-spacing: 0.48px