$listItem-font-size-xs: $font-size-xs !default
$listItem-font-size-lg: $font-size-lg !default

$listItem-font-weight-medium: $weight-medium !default

$listItem-border: .25rem solid !default
$listItem-border-padding: 1rem !default

$listItem-separated-border: 1px solid var(--greyLight) !default

$listItem-subtitle-margin: .25rem !default


.yoo-list-item
  color: var(--greyBase)
  font-family: var(--fontFamily-primary)
  font-size: $listItem-font-size-lg

  &__style
    &--wrap
      flex-wrap: wrap !important

  &--border-left
    border-left: $listItem-border
    padding-left: $listItem-border-padding

  &--separated
    border-bottom: $listItem-separated-border

  &__fill
    &--border-neutral
      border-left-color: var(--greyBase)

    &--border-primary
      border-left-color: var(--primaryBase)

    &--border-danger
      border-left-color: var(--dangerBase)

    &--border-light
      border-left-color: var(--greyLight)

    &--border-dark
      border-left-color: var(--greyDark)

    &--border-darkest
      border-left-color: var(--greyDarkest)

  &__title
    margin: 0
    font-weight: $listItem-font-weight-medium
    color: var(--color-black)
    font-size: $listItem-font-size-lg

  &__subtitle
    font-weight: $listItem-font-weight-medium
    font-size: $listItem-font-size-xs
    color:  var(--primaryDark)
    margin-left: $listItem-subtitle-margin