/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * Sass Yoonit Style
 * The SASS Atomic Design System that powers Web & Native Yoonit Components
 *
 * Luigui Delyer, Vitória Costa, Sabrina Sampaio, Gabriel Moraes, Tiago Brito, Fernando Junior, Ronalson Filho, Gabriel Moraes, Gabriel Mule & Gabriel Rizzo @ 2020-2021
 */

/*===== Modal Min Size ====*/
$modal-min-width: 20.5rem !default
$modal-min-height: 15.875rem !default

/*===== Modal Padding ====*/
$modal-padding-top: 1.5rem !default
$modal-padding-bottom: .5rem !default
$modal-padding-x: 1rem !default

/*===== Modal Text Align ====*/
$modal-text-align: center !default

/*===== Modal Border Radius ====*/
$modal-border-radius: 6px !default

.backdrop
  z-index: 9
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  +flex(row, wrap, center, center)
  background-color: rgba(var(--grey-base), 0.5)

  .yoo-modal
    box-sizing: border-box
    z-index: 10
    min-width: $modal-min-width
    min-height: $modal-min-height
    padding: $modal-padding-top $modal-padding-x $modal-padding-bottom
    +box-shadow('soft', #00000029)
    text-align: $modal-text-align
    font-family: var(--font-family-primary)
    &__fill
      &--light
        background-color: var(--color-white)
        color: var(--color-black)
      &--dark
        background-color: var(--color-black)
        color: var(--color-white)
    &__border
      &--square
        border-radius: 0
      &--rounded
        border-radius: $modal-border-radius
