
$notify-icon-size: $font-size-xl !default
$notify-icon-margin-x: $spacing-sm !default

$notify-indicator-margin-x: $spacing-sm !default

$notify-container-button-margin-x: $spacing-sm !default

$notify-min-height: $spacing-hg !default

$notify-font-weight: $weight-medium !default

$notify-font-size-tn: $font-size-tn !default
$notify-font-size-xs: $font-size-xs !default
$notify-font-size-sm: $font-size-sm !default
$notify-font-size-md: $font-size-md !default
$notify-font-size-lg: $font-size-lg !default
$notify-font-size-xl: $font-size-xl !default
$notify-font-size-hg: $font-size-hg !default

*
  margin: 0
  padding: 0
  box-sizing: border-box

.yoo-notify
  min-height: $notify-min-height
  &__icon
    font-size: $notify-icon-size
    margin: 0 $notify-icon-margin-x
    &--light
      color: var(--color-white)

    &--dark
      color: var(--greyDark)

    &--danger
      color: var(--dangerDark)
    
    &--primary
      color: var(--primaryBase)

  &__text
    font-family: var(--fontFamily-primary)
    font-weight: $notify-font-weight
    font-size: $notify-font-size-sm
    &--tn
      font-size: $notify-font-size-tn
    &--xs
      font-size: $notify-font-size-xs
    &--sm
      font-size: $notify-font-size-sm
    &--md
      font-size: $notify-font-size-md
    &--lg
      font-size: $notify-font-size-lg
    &--xl
      font-size: $notify-font-size-xl
    &--hg
      font-size: $notify-font-size-hg

    &--light
      color: var(--color-white)

    &--dark
      color: var(--greyDark)

    &--danger
      color: var(--dangerDark)

    &--left
      text-align: left

    &--center
      text-align: center

    &--right
      text-align: right

  &--primary
    background: var(--primaryDark)

  &--danger
    background: var(--dangerDark)

  &--light
    background: var(--greyLight)

  &--lightest
    background: var(--greyLightest)

  &--dark
    background: var(--greyDark)

.yoo-indicator
  margin: 0 $notify-indicator-margin-x

.yoo-notify .yoo__container--button
  margin-right: $notify-container-button-margin-x
