/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * Sass Yoonit Style
 * The SASS Atomic Design System that powers Web & Native Yoonit Components
 *
 * Luigui Delyer, Vitória Costa, Sabrina Sampaio, Gabriel Moraes, Tiago Brito, Fernando Junior, Ronalson Filho, Gabriel Moraes, Gabriel Mule & Gabriel Rizzo @ 2020-2021
 */

/*===== Notify Min Height ====*/
$notify-min-height: $spacing-hg !default

/*===== Notify Font Size ====*/
$notify-font-size-tn: $font-size-tn !default
$notify-font-size-xs: $font-size-xs !default
$notify-font-size-sm: $font-size-sm !default
$notify-font-size-md: $font-size-md !default
$notify-font-size-lg: $font-size-lg !default
$notify-font-size-xl: $font-size-xl !default
$notify-font-size-hg: $font-size-hg !default

/*===== Notify Font Weight ====*/
$notify-font-weight: $weight-medium !default

/*===== Notify Icon Size ====*/
$notify-icon-size: $font-size-xl !default

/*===== Notify Icon Margin X Axis ====*/
$notify-icon-margin-x: $spacing-sm !default

/*===== Notify Indicator Margin X Axis ====*/
$notify-indicator-margin-x: $spacing-sm !default

/*===== Notify Button Container Margin X Axis ====*/
$notify-container-button-margin-x: $spacing-sm !default

*
  margin: 0
  padding: 0
  box-sizing: border-box

.yoo-notify
  min-height: $notify-min-height
  &__icon
    font-size: $notify-icon-size
    margin: 0 $notify-icon-margin-x
    &--light
      color: var(--color-white)

    &--dark
      color: var(--grey-dark)

    &--danger
      color: var(--danger-dark)

    &--primary
      color: var(--primary-base)

  &__text
    font-family: var(--font-family-primary)
    font-weight: $notify-font-weight
    font-size: $notify-font-size-sm
    &--tn
      font-size: $notify-font-size-tn
    &--xs
      font-size: $notify-font-size-xs
    &--sm
      font-size: $notify-font-size-sm
    &--md
      font-size: $notify-font-size-md
    &--lg
      font-size: $notify-font-size-lg
    &--xl
      font-size: $notify-font-size-xl
    &--hg
      font-size: $notify-font-size-hg

    &--light
      color: var(--color-white)

    &--dark
      color: var(--grey-dark)

    &--danger
      color: var(--danger-dark)

    &--left
      text-align: left

    &--center
      text-align: center

    &--right
      text-align: right

  &--primary
    background: var(--primary-dark)

  &--danger
    background: var(--danger-dark)

  &--light
    background: var(--grey-light)

  &--lightest
    background: var(--grey-light-test)

  &--dark
    background: var(--grey-dark)

.yoo-indicator
  margin: 0 $notify-indicator-margin-x

.yoo-notify .yoo__container--button
  margin-right: $notify-container-button-margin-x
