@import "../themes/global.scss"

@import '../bosons/colors'
@import '../bosons/margin'
@import '../bosons/padding'
@import '../bosons/YooGridLayout'
@import '../bosons/YooFlexLayout'
@import '../bosons/YooScrollView'

@import '../quarks/colors'
@import '../quarks/animation'
@import '../quarks/border'
@import '../quarks/shadows'
@import '../quarks/typography'
@import '../quarks/flex'

.button
  &__back
    height: var(--spacing-hg)
    width: var(--spacing-hg)
  &__next
    height: var(--spacing-hg)
    width: var(--spacing-hg)
