/*===== Pagination Button Size ====*/
$pagination-button-width: $spacing-hg !default
$pagination-button-height: $spacing-hg !default

.button
  &__back
    height: $pagination-button-height
    width: $pagination-button-width
  &__next
    height: $pagination-button-height
    width: $pagination-button-width
