@import "../quarks/global.scss"

.yoo-quiz
  &__question
    +font-weight('medium')
    font-family: var(--fontFamily-primary)
    span
      color: var(--dangerBase)
      margin-left: var(--spacing-sm)
