$quiz-font-weight: $weight-medium !default
$quiz-margin-left: $spacing-sm !default

.yoo-quiz
  &__question
    font-weight: $quiz-font-weight
    font-family: var(--fontFamily-primary)
    span
      color: var(--dangerBase)
      margin-left: $quiz-margin-left
