@import "../themes/global.scss"

@import '../bosons/colors'
@import '../bosons/margin'
@import '../bosons/padding'
@import '../bosons/YooGridLayout'
@import '../bosons/YooFlexLayout'
@import '../bosons/YooScrollView'

@import '../quarks/colors'
@import '../quarks/animation'
@import '../quarks/border'
@import '../quarks/shadows'
@import '../quarks/typography'
@import '../quarks/flex'

.yoo-segmented-bar
  border-top: 1px solid var(--greyLight)
  border-bottom: 1px solid var(--greyLight)

  &__item
    width: 100%

    &--border
      border-right: 1px solid var(--greyLight)
      
