$tableAttribute-min-height: 2.5rem !default

$tableAttribute-border-bottom: 1px solid var(--greyLight) !default

$tableAttribute-title-font-weight-regular: $weight-regular !default
$tableAttribute-title-font-weight-medium: $weight-medium !default
$tableAttribute-title-font-weight-semi-bold: $weight-semi-bold !default
$tableAttribute-title-font-weight-bold: $weight-bold !default

$tableAttribute-title-font-size-sm: $font-size-sm !default
$tableAttribute-title-font-size-md: $font-size-md !default
$tableAttribute-title-font-size-lg: $font-size-lg !default
$tableAttribute-title-font-size-xl: $font-size-xl !default

$tableAttribute-title-word-break: break-word !default

$tableAttribute-tall-height: $spacing-hg !default
$tableAttribute-wrap-height: 3.5rem !default


$tableAttribute-detail-font-size: $font-size-md !default
$tableAttribute-detail-font-weight: $weight-medium !default
$tableAttribute-detail-text-align: right !default
$tableAttribute-detail-word-wrap: anywhere !default
$tableAttribute-detail-max-height: 2.5rem !default
$tableAttribute-detail-wrap-text-align: left !default

$tableAttribute-actionable-max-height: 2.5rem !default


.yoo-table-attribute
  color: var(--greyDark)
  font-family: var(--fontFamily-primary)
  min-height: $tableAttribute-min-height
  &--separated
    border-bottom: $tableAttribute-border-bottom

  &--tall
    height: $tableAttribute-tall-height
  &--wrap
    height: $tableAttribute-wrap-height
  &__fill
    &--default
      background-color: var(--greyLightest)
    &--primary
      background-color: var(--primaryBase)
      color: var(--color-white)
    &--danger
      background-color: var(--dangerBase)
      color: var(--color-white)

  &__title
    +flex(row, wrap, flex-start, center)
    word-break: $tableAttribute-title-word-break
    &--primary
      color: var(--primaryDark)
    &--danger
      color: var(--dangerBase)
    &--neutral
      color: var(--greyBase)
    &--dark
      color: var(--greyDark)
    &--black
      color: var(--color-black)
    &--white
      color: var(--color-white)

    &--bold
      font-weight: $tableAttribute-title-font-weight-bold
    &--semi-bold
      font-weight: $tableAttribute-title-font-weight-semi-bold
    &--medium
      font-weight: $tableAttribute-title-font-weight-medium
    &--regular
      font-weight: $tableAttribute-title-font-weight-regular

    &--sm
      font-size: $tableAttribute-title-font-size-sm
    &--md
      font-size: $tableAttribute-title-font-size-md
    &--lg
      font-size: $tableAttribute-title-font-size-lg
    &--xl
      font-size: $tableAttribute-title-font-size-xl

  &__detail
    font-weight: $tableAttribute-detail-font-weight
    font-size: $tableAttribute-detail-font-size
    text-align: $tableAttribute-detail-text-align
    word-wrap: $tableAttribute-detail-word-wrap
    max-height: $tableAttribute-detail-max-height
    +flex(row, wrap, flex-start, center)
    &--primary
      color: var(--primaryDark)
    &--danger
      color: var(--dangerBase)
    &--light
      color: var(--greyBase)
    &--dark
      color: var(--greyDark)
    &--white
      color: var(--color-white)
    &--black
      color: var(--color-black)
    &--wrap
      text-align: $tableAttribute-detail-wrap-text-align

  &__actionable
    max-height: $tableAttribute-actionable-max-height
