@import "../themes/global.scss"

@import '../bosons/colors'
@import '../bosons/margin'
@import '../bosons/padding'
@import '../bosons/YooGridLayout'
@import '../bosons/YooFlexLayout'
@import '../bosons/YooScrollView'

@import '../quarks/colors'
@import '../quarks/animation'
@import '../quarks/border'
@import '../quarks/shadows'
@import '../quarks/typography'
@import '../quarks/flex'

.yoo-table-attribute
  color: var(--greyDark)
  font-family: var(--fontFamily-primary)
  min-height: 40px
  &--separated
    border-bottom: 1px solid var(--greyLight)

  &--tall
    height: var(--spacing-hg)
  &--wrap
    height: 56px
  &__fill
    &--default
      background-color: var(--greyLightest)
    &--primary
      background-color: var(--primaryBase)
      color: var(--color-white)
    &--danger
      background-color: var(--dangerBase)
      color: var(--color-white)

  &__title
    +flex(row, wrap, flex-start, center)
    word-break: break-word
    &--primary
      color: var(--primaryDark)
    &--danger
      color: var(--dangerBase)
    &--neutral
      color: var(--greyBase)
    &--dark
      color: var(--greyDark)
    &--black
      color: var(--color-black)
    &--white
      color: var(--color-white)

    &--bold
      +font-weight('bold')
    &--semi-bold
      +font-weight('semi-bold')
    &--medium
      +font-weight('medium')
    &--regular
      +font-weight('regular')

    &--sm
      +font-size('sm')
    &--md
      +font-size('md')
    &--lg
      +font-size('lg')
    &--xl
      +font-size('xl')

  &__detail
    +font-weight('medium')
    +font-size('md')
    text-align: right
    word-wrap: anywhere
    max-height: 40px
    +flex(row, wrap, flex-start, center)
    &--primary
      color: var(--primaryDark)
    &--danger
      color: var(--dangerBase)
    &--light
      color: var(--greyBase)
    &--dark
      color: var(--greyDark)
    &--white
      color: var(--color-white)
    &--black
      color: var(--color-black)
    &--wrap
      text-align: left

  &__actionable
    max-height: 40px
