.yoo-table-card
  color:  map-get($grey, 'greyDark')
  +font-family('$font-primary')
  padding-left: $spacing-md
  padding-right: $spacing-md

  &--separated
    padding-bottom: $spacing-md
    border-bottom: 1px solid  map-get($grey, 'greyLight')

  &__title
    +font-weight('semi-bold')
    +font-size('$spacing-4')
    display: flex
    align-items: center
    color: $black

    &--wrap
      margin-bottom: 0

    &--primary
      color:  map-get($primary, 'primaryDark')

    &--danger
      color:  map-get($danger, 'dangerBase')

    &--light
      color: $white

    &--dark
      color: $black

  &__subtitle
    +font-weight('medium')
    +font-size('xs')
    color:  map-get($primary, 'primaryDark')
    display: flex
    align-items: center
    margin-left: 4px

    &--wrap
      margin-bottom: 0

    &--primary
      color:  map-get($primary, 'primaryDark')

    &--danger
      color:  map-get($danger, 'dangerBase')

    &--light
      color: $white

    &--dark
      color: $black

  &__detail
    +font-weight('regular')
    +font-size('xs')
    text-align: right
    word-wrap: anywhere
    display: flex
    align-items: center
    border: 1px solid #707070
    border-radius: 26px
    padding: 4px 8px
    margin: 2px

    &:first-child
      margin-left: 0px

    &--on
      border: 1px solid  map-get($primary, 'primaryDark')
      color:  map-get($primary, 'primaryDark')

    .yoo-checkbox
      margin-left: 8px

    &--primary
      color:  map-get($primary, 'primaryDark')
      border: 1px solid  map-get($primary, 'primaryDark')

    &--danger
      color:  map-get($danger, 'dangerBase')
      border: 1px solid  map-get($danger, 'dangerBase')

    &--light
      color: $white

    &--dark
      color: $black

  &__no-detail
    +font-weight('regular')
    +font-size('$spacing-3')
    word-wrap: anywhere
    color: map-get($grey, 'greyBase')

  .yoo__container--button
    margin-right: 0px
