//////////////////////////////
//         ANIMATION        //
//////////////////////////////

=animation($name, $repeat, $direction, $timing, $duration, $state, $delay)
  animation-name: $name
  animation-iteration-count: $repeat
  animation-direction: $direction
  animation-timing-function: $timing
  +durationAnimation($duration)
  +stateAnimation($state)
  +delayAnimation($delay)

=durationAnimation($duration)
  @if $duration == 'slow'
    animation-duration: 4s
  @else if $duration == 'normal'
    animation-duration: 2s
  @else if $duration == 'fast'
    animation-duration: 0.5s
  @else if $duration == 'very-fast'
    animation-duration: 0.2s
  @else
    animation-duration: 2s

=stateAnimation($state)
  @if $state == 'paused'
    animation-play-state: paused
  @else
    animation-play-state: played

=delayAnimation($delay)
  @if $delay == 'slow'
    animation-delay: 4s
  @else if $modifier == 'normal'
    animation-delay: 2s
  @else if $modifier == 'fast'
    animation-delay: 0.5s
  @else
    animation-delay: 2s
