//////////////////////////////
//        TYPOGRAPHY        //
//////////////////////////////

/*===== Variations fonts ====*/

@import "../themes/global.scss"

$font-size-tn: 8px
$font-size-xs: 10px
$font-size-sm: 12px
$font-size-md: 14px
$font-size-lg: 16px
$font-size-xl: 20px
$font-size-hg: 32px

=font($font-color, $font-size, $font-family, $font-weight)
  +font-size($font-size)
  +font-weight($font-weight)
  +font-family($font-family)
  color: $font-color

=font-size($modifier)
  @if $modifier == 'tn'
    font-size: var(--font-tn)
  @else if $modifier == 'xs'
    font-size: var(--font-xs)
  @else if $modifier == 'sm'
    font-size: var(--font-sm)
  @else if $modifier == 'md'
    font-size: var(--font-md)
  @else if $modifier == 'lg'
    font-size: var(--font-lg)
  @else if $modifier == 'xl'
    font-size: var(--font-xl)
  @else if $modifier == 'hg'
    font-size: var(--font-hg)

=font-family($font-family)
  @if $font-family == '$font-primary'
    font-family: var(--fontFamily-primary)
  @else if $font-family == '$font-second'
    font-family: var(--fontFamily-second)
  @else
    font-family: $font-family

=font-weight($font-weight)
  @if $font-weight == 'extra-bold'
    font-weight: 800
  @if $font-weight == 'bold'
    font-weight: 700
  @else if $font-weight == 'semi-bold'
    font-weight: 600
  @else if $font-weight == 'medium'
    font-weight: 500
  @else if $font-weight == 'regular'
    font-weight: 400
  @else
    font-weight: 400
