$spacing-base: 1rem !default
$font-size-base: 2.875rem !default

/*===== Variations sizes ====*/
$spacing-tn: .125rem !default
$spacing-xs: .25rem !default
$spacing-sm: .5rem !default
$spacing-md: $spacing-base !default
$spacing-lg: 1.5rem !default
$spacing-xl: 2rem !default
$spacing-hg: 4rem !default

/*===== Variations fonts ====*/
$font-size-tn: .5rem !default
$font-size-xs: .625rem !default
$font-size-sm: .75rem !default
$font-size-md: $font-size-base !default
$font-size-lg: 1rem !default
$font-size-xl: 1.25rem !default
$font-size-hg: 2rem !default

$weight-extra-bold: 800 !default
$weight-bold: 700 !default
$weight-semi-bold: 600 !default
$weight-medium: 500 !default
$weight-regular: 400 !default
$weight-thin: 300 !default

