$spacing-base: 1rem !default
$font-size-base: .875rem !default

/*=================================== DEFAULT ===================================*/

/*===== Variations Spacing ====*/
$spacing-tn: .125rem !default
$spacing-xs: .25rem !default
$spacing-sm: .5rem !default
$spacing-md: $spacing-base !default
$spacing-lg: 1.5rem !default
$spacing-xl: 2rem !default
$spacing-hg: 4rem !default

/*===== Variations Font Sizing ====*/
$font-size-tn: .5rem !default
$font-size-xs: .625rem !default
$font-size-sm: .75rem !default
$font-size-md: $font-size-base !default
$font-size-lg: 1rem !default
$font-size-xl: 1.25rem !default
$font-size-hg: 2rem !default

/*===== Variations Font Weight ====*/
$weight-thin: 300 !default
$weight-regular: 400 !default
$weight-medium: 500 !default
$weight-semi-bold: 600 !default
$weight-bold: 700 !default
$weight-extra-bold: 800 !default

/*===== Variations Border Radius ====*/
$border-radius-none: 0 !default
$border-radius-circular: 50% !default
$border-radius-pill: 500px !default

/*==== YooIndicator variables ====/
$indicator-size-sm: $spacing-sm !default
$indicator-size-md: $spacing-md !default
$indicator-size-lg: $spacing-lg !default
$indicator-size-xl: $spacing-xl !default

$indicator-font-size-sm: $font-size-tn !default
$indicator-font-size-md: $font-size-xs !default
$indicator-font-size-lg: $font-size-sm !default
$indicator-font-size-xl: $font-size-lg !default

/*=================================== AVATAR ===================================*/

/*===== Variations Avatar Sizing ====*/
$avatar-size-sm: 2.5rem !default
$avatar-size-md: 3.5rem !default
$avatar-size-lg: 5rem !default
$avatar-size-xl: 6.5rem !default
$avatar-size-hg: 7.5rem !default

/*===== Variations Avatar Font Sizing ====*/
$avatar-font-size-tn: $font-size-tn !default
$avatar-font-size-xs: $font-size-xs !default
$avatar-font-size-sm: $font-size-sm !default
$avatar-font-size-md: $font-size-base !default
$avatar-font-size-lg: $font-size-lg !default
$avatar-font-size-xl: $font-size-xl !default
$avatar-font-size-hg: $font-size-hg !default

/*===== Avatar Font Weight ====*/
$avatar-font-weight: $weight-bold !default

/*===== Avatar Border Radius ====*/
$avatar-border-radius: $border-radius-circular !default

/*=================================== BUTTON ===================================*/

/*===== Variations Button Spacing ====*/
$btn-spacing-tn: $spacing-tn !default
$btn-spacing-xs: $spacing-xs !default
$btn-spacing-sm: $spacing-sm !default
$btn-spacing-md: $spacing-base !default
$btn-spacing-lg: $spacing-lg !default
$btn-spacing-xl: $spacing-xl !default
$btn-spacing-hg: $spacing-hg !default

/*===== Variations Button Font Sizing ====*/
$btn-font-size-tn: $font-size-tn !default
$btn-font-size-xs: $font-size-xs !default
$btn-font-size-sm: $font-size-sm !default
$btn-font-size-md: $font-size-base !default
$btn-font-size-lg: $font-size-lg !default
$btn-font-size-xl: $font-size-xl !default
$btn-font-size-hg: $font-size-hg !default