*
  margin: 0
  padding: 0
  box-sizing: border-box

.modal__header
  margin-bottom: $spacing-lg
  .portal-info
  +font-size('md')
    color: color($primary, 'primaryBase')
  .portal-name
    font-size: $spacing-lg
    color: color($grey, 'greyDark')

.modal__details
  margin-bottom: $spacing-lg
  .portal-details
    color: color($grey, 'greyBase')
    +font-size('md')
  .portal-data
    color: color($grey, 'greyDark')
    +font-size('md')