*
  margin: 0
  padding: 0
  box-sizing: border-box

.modal__header
  margin-bottom: $spacing-6
  .portal-info
    font-size: 14px
    color: #5A5F67
  .portal-name
    font-size: 18px
    color: #212325

.modal__details
  margin-bottom: $spacing-6
  .portal-details
    color: #8F959F
    font-size: 14px
  .portal-data
    color: #5A5F67
    font-size: 14px