/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * Sass Yoonit Style
 * The SASS Atomic Design System that powers Web & Native Yoonit Components
 *
 * Luigui Delyer, Vitória Costa, Sabrina Sampaio, Gabriel Moraes, Tiago Brito, Fernando Junior, Ronalson Filho, Gabriel Moraes, Gabriel Mule & Gabriel Rizzo @ 2020-2021
 */

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('Montserrat-Regular.ttf') format('ttf')
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Medium.ttf') format('ttf')
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('Montserrat-SemiBold.ttf') format('ttf')
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('Montserrat-Bold.ttf') format('ttf')
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url('Montserrat-ExtraBold.ttf') format('ttf')
}
