$buttonColor: color($primary, 'primaryBase')
.yoo__container--button
  height: 56px
  
.yoo-btn
  $self: &
  font-family: "Montserrat", "Montserrat-SemiBold"
  font-weight: 600
  width: 100%
  height: 100%
  @include border-radius('pill')
  border-width: 2px
  border-style: solid
  font-size: $spacing-3 + 2
  border-color: $buttonColor
  background-color: $buttonColor
  display: flex
  justify-content: center
  align-items: center
  padding: 0 20px
  margin: 0
  cursor: pointer
  outline: none

  &--xs
    width: $spacing-6
    height: $spacing-6
    padding: 0
    @include border-radius('pill')
    min-width: $spacing-6
    font-size: $spacing-3
    overflow: hidden

  &--short
    width: 50%

  &__text
    color: $white
    background-color: transparent

  &__icon
    color: $white
    font-size: 18px
    background-color: transparent
    &--small
      font-size: $spacing-4
    &--large
      font-size: $spacing-6
    &--right
      margin-left: 8px
    &--left
      margin-right: 8px

  &--hover:hover
    border-width: 1px
    border-style: solid
    border-color: $buttonColor
    background-color: transparent
    #{ $self }
      &__text, &__icon
        color: $buttonColor
  &--active:active
    $buttonColor: color($primary, 'primaryDark')
    background-color: $buttonColor
    border-color: $buttonColor
    #{ $self }
      &__text, &__icon
        color: $white
  &--disabled
    $buttonColor: color($grey, 'greyLight')
    background-color: $buttonColor
    border-width: 1px
    border-style: solid
    border-color: $buttonColor
    cursor: not-allowed

  // MOD: VARIATION
  &--outline
    border-width: 2
    border-style: solid
    border-color: $buttonColor
    background-color: transparent
    z-index: 0
    #{ $self }
      &__text, &__icon
        color: $buttonColor
    &#{ $self}--hover:hover
      border-width: 1px
      border-style: solid
      border-color: $buttonColor
      background-color: $buttonColor
      #{ $self }
        &__text, &__icon
          color: $white
    &#{ $self }--active:active
      $buttonColor: color($primary, 'primaryDark')
      background-color: transparent
      border-color: $buttonColor
      #{ $self }
        &__text, &__icon
          color: $buttonColor
    &#{ $self }--disabled
      $buttonColor: color($grey, 'greyLight')
      background-color: transparent
      border-width: 1px
      border-style: solid
      border-color: $buttonColor
      cursor: not-allowed
      #{ $self }
        &__text, &__icon
          color: $buttonColor

  &--clear
    border-width: 0
    border-color: transparent
    background-color: transparent
    z-index: 0
    padding: 0

    #{ $self }
      &__text, &__icon
        color: $buttonColor

    &#{ $self}--hover:hover
      border-width: 0
      background-color: transparent

    &#{ $self }--active:active
      $buttonColor: color($primary, 'primaryDark')
      background-color: transparent
      border-color: $buttonColor
      #{ $self }
        &__text, &__icon
          color: $buttonColor
    &#{ $self }--disabled
      $buttonColor: color($grey, 'greyLight')
      background-color: transparent
      border-width: 0
      cursor: not-allowed
      #{ $self }
        &__text, &__icon
          color: $buttonColor

  // MOD: FORMAT
  &--square
    width: 56px
    padding: 0

  &--mini
    width: 56px
    height: 24px
    padding: 0

    #{ $self }__icon
      font-size: 16px

  // MOD: COLOR

  &__fill--light
    $buttonColor: color($grey, 'greyLightest')
    border-color: $buttonColor
    background-color: $buttonColor

    // VARIATIONS BUTTON LIGHT -- OUTLINE
    &#{ $self }--outline
      border-width: 1px
      border-style: solid
      border-color: $buttonColor
      background-color: transparent
      #{ $self }
        &__text, &__icon
          color: color($grey, 'greyBase')
      &#{ $self }--hover:hover
        $buttonColor: color($grey, 'greyLightest')
        border-width: 1px
        border-style: solid
        border-color: $buttonColor
        background-color: $buttonColor
        #{ $self }
          &__text, &__icon
            color: color($grey, 'greyDark')
      &#{ $self }--active:active
        background-color: $buttonColor
        border-color: $buttonColor
        #{ $self }
          &__text, &__icon
            color: color($grey, 'greyDark')
    
    // VARIATIONS BUTTON LIGHT -- CLEAR
    &#{ $self }--clear
      $buttonColor: color($grey, 'greyBase')
      background-color: transparent
      #{ $self }
        &__text, &__icon
          color: $buttonColor

      &#{ $self }--hover:hover
        $buttonColor: color($grey, 'greyDark')
        border-width: 0
        background-color: transparent
        #{ $self }
          &__text, &__icon
            color: $buttonColor
      &#{ $self }--active:active
        border-width: 0
        background-color: transparent
        #{ $self }
          &__text, &__icon
            color: $buttonColor

    // STYLES BUTTON LIGHT
    #{ $self }
      &__text, &__icon
        color: color($grey, 'greyDark')

    &#{ $self }--hover:hover
      $buttonColor: color($grey, 'greyBase')
      border-width: 1px
      border-color: $buttonColor
      background-color: transparent
      #{ $self }
        &__text, &__icon
          color: $buttonColor

    &#{ $self }--disabled
      color: color($danger, 'dangerBase')

  &__fill--dark
    $buttonColor: color($grey, 'greyDark')
    border-color: $buttonColor
    background-color: $buttonColor

    // VARIATIONS BUTTON DARK -- OUTLINE
    &#{ $self }--outline
      border-width: 1px
      border-style: solid
      border-color: $buttonColor
      background-color: transparent
      #{ $self }
        &__text, &__icon
          color: color($grey, 'greyDark')
      &#{ $self }--hover:hover
        $buttonColor: color($grey, 'greyDark')
        border-width: 1px
        border-style: solid
        border-color: $buttonColor
        background-color: $buttonColor
        #{ $self }
          &__text, &__icon
            color: color($grey, 'greyLightest')
      &#{ $self }--active:active
        background-color: $buttonColor
        border-color: $buttonColor
        #{ $self }
          &__text, &__icon
            color: color($grey, 'greyDark')
    
    // VARIATIONS BUTTON DARK -- CLEAR
    &#{ $self }--clear
      $buttonColor: color($grey, 'greyDark')
      background-color: transparent
      #{ $self }
        &__text, &__icon
          color: $buttonColor

      &#{ $self }--hover:hover
        $buttonColor: color($grey, 'greyBase')
        border-width: 0
        background-color: transparent
        #{ $self }
          &__text, &__icon
            color: $buttonColor
      &#{ $self }--active:active
        border-width: 0
        background-color: transparent
        #{ $self }
          &__text, &__icon
            color: $buttonColor

    // STYLES BUTTON DARK
    #{ $self }
      &__text, &__icon
        color: color($grey, 'greyLightest')

    &#{ $self }--hover:hover
      $buttonColor: color($grey, 'greyDark')
      border-width: 1px
      border-color: $buttonColor
      background-color: transparent
      #{ $self }
        &__text, &__icon
          color: $buttonColor

    &#{ $self }--active:active
      $buttonColor: color($grey, 'greyDarkest')
      border-width: 1px
      border-color: $buttonColor
      background-color: $buttonColor

    &#{ $self }--disabled
      $buttonColor: color($grey, 'greyLight')
      background-color: $buttonColor
      border-width: 1px
      border-style: solid
      border-color: $buttonColor

  &__fill--danger
    $buttonColor: color($danger, 'dangerBase')
    border-color: $buttonColor
    background-color: $buttonColor
    // VARIATIONS BUTTON DANGER -- OUTLINE
    &#{ $self }--outline
      border-width: 1px
      border-style: solid
      border-color: $buttonColor
      background-color: transparent
      #{ $self }
        &__text, &__icon
          color: $buttonColor
      &#{ $self }--hover:hover
        $buttonColor: color($danger, 'dangerBase')
        border-width: 1px
        border-style: solid
        border-color: $buttonColor
        background-color: $buttonColor
        #{ $self }
          &__text, &__icon
            color: $white
      &#{ $self }--active:active
        $buttonColor: #CB0A22
        background-color: $buttonColor
        border-color: $buttonColor
        #{ $self }
          &__text, &__icon
            color: $white
    // VARIATIONS BUTTON DANGER -- CLEAR
    &#{ $self }--clear
      background-color: transparent
      #{ $self }
        &__text, &__icon
          color: $buttonColor

      &#{ $self }--hover:hover
        border-width: 0
        background-color: transparent
      &#{ $self }--active:active
        $buttonColor: #CB0A22
        border-width: 0
        background-color: transparent
        #{ $self }
          &__text, &__icon
            color: $buttonColor

    // STYLES BUTTON DANGER
    &#{ $self }--hover:hover
      border-width: 1px
      border-style: solid
      border-color: $buttonColor
      background-color: transparent
      #{ $self }
        &__text, &__icon
          color: $buttonColor
    &#{ $self }--active:active
      $buttonColor: #CB0A22
      background-color: $buttonColor
      border-color: $buttonColor
      #{ $self }
        &__text, &__icon
          color: $white
    &#{ $self }--disabled
      $buttonColor: color($grey, 'greyLight')
      background-color: $buttonColor
      border-width: 1px
      border-style: solid
      border-color: $buttonColor

  &--animation-pulse
    animation-name: pulse
    animation-duration: 2s
    animation-timing-function: cubic-bezier(.28,.68,.75,.78)
    animation-fill-mode: forwards
    animation-iteration-count: infinite

@keyframes pulse
  0%
    transform: scale(.95)
  25%
    transform: scale(1)
  50%
    transform: scale(.95)
  70%
    transform: scale(1)
  100%
    transform: scale(.95)