.yoo-checkbox
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  &--switch-card
    width: 100%

    > .yoo-check:before
      border-color: color($primary, 'primaryDark') !important

.yoo-checkbox input
  display: none

  + .yoo-check p
    font-family: Montserrat
    font-weight: 500
    margin: 0 0 0 16px

    + .yoo-check
      display: flex
      align-items: center

  + .yoo-check
    display: flex
    align-items: center
    &:before
      content: ''
      @include border-radius('circular')
      display: inline-block
      vertical-align: middle
      background: $white
      border: 3px solid color($primary, 'primaryBase')
      cursor: pointer

    &--small:before
      width: 18px
      height: 18px
      font-size: 12px

    &--medium:before
      width: 24px
      height: 24px
      font-size: 18px

    &--large:before
      width: 32px
      height: 32px
      font-size: 24px

    &--text-right
      flex-direction: row-reverse
      > p
        margin: 0 16px 0 0

  &:checked + .yoo-check
    &:before, &--checked:before
      content: '\f00c'
      background: color($primary, 'primaryBase')
      display: inline-flex
      justify-content: center
      align-items: center
      color: $white

      &:before
        content: ''
        @include border-radius('circular')
        display: inline-block
        vertical-align: middle
        background: $white
        border: 3px solid color($primary, 'primaryBase')
        margin-right: 4px
        margin-bottom: 4px
        flex-shrink: 0
        cursor: pointer

      &--small:before
        width: 18px
        height: 18px
        font-size: 12px

      &--medium:before
        width: 24px
        height: 24px
        font-size: 18px

      &--large:before
        width: 32px
        height: 32px
        font-size: 24px

    &:checked + .yoo-check
      &:before, &--checked:before
        content: '\f00c'
        background: color($primary, 'primaryBase')
        display: inline-flex
        justify-content: center
        align-items: center
        border: none
        padding: 3px
        color: $white

    &:checked + .yoo-check--switch-card
      &:before, &--checked:before
          color: color($primary, 'primaryBase')
          background-color: $white
