.yoo-dropdown
  cursor: pointer
  font-family: $font-primary
  +font-weight('regular')
  text-transform: uppercase
  +box-shadow('soft', #00000029)
  border-radius: 1px
  +font(color($grey, 'greyBase'), 'md', $font-primary, 'medium')
  width: max-content
  padding: $spacing-sm

  &__select
    .select
      display: flex
      align-items: center
      justify-content: center
      overflow: hidden
      &__text
        margin: 0
        color: color($grey, 'greyDark')

  &__options
    .option
      display: flex
      align-items: center
      justify-content: center
      overflow: hidden
      &__text
        margin: 12px

      &:first-child
        .option
          &__text
            color: color($grey, 'greyDark')

  // MOD: VARIATION
  &--small
    +font-size('sm')
  
  &--medium
    +font-size('md')

  &--large
    +font-size('lg')