.stepper
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  &__dot
    background: color($grey, 'greyLight')
    border-radius: 100%
    margin-right: 16
    width: $spacing-1
    height: $spacing-1
    &--active
      background: color($grey, 'greyDark')
      width: $spacing-2
      height: $spacing-2