.stepper
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  &__dot
    background: color($grey, 'greyLight')
    border-radius: 100%
    margin-right: $spacing-md
    width: $spacing-xs
    height: $spacing-xs
    &--active
      background: color($grey, 'greyDark')
      width: $spacing-sm
      height: $spacing-sm