$bg-disabled: #EDEFF2
$bg-enabled: color($primary, 'primaryLight')
$btn-disabled: #ECECEC
$btn-enabled: color($primary, 'primaryBase')

.yoo-switch
  visibility: hidden
  position: absolute
  margin-left: -9999px

  + label
    display: block
    position: relative
    cursor: pointer
    outline: none
    user-select: none

  &--small
    + label
      width: 25px
      height: 14px
      background-color: $white
      border-radius: 20px

  &--medium
    + label
      width: 45px
      height: 21px
      background-color: $white
      border-radius: 30px

  &--large
    + label
      width: 70px
      height: 32px
      background-color: $white
      border-radius: 45px

  + label:before,
  + label:after
    display: block
    position: absolute
    content: ""

  + label:before
    background-color: $bg-disabled
    border-radius: 60px
    transition: background 0.4s
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px

  + label:after
    background-color: $btn-disabled
    border-radius: 100%
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.52)
    transition: all 0.4s
    top: 0px
    bottom: 0px
    left: -8px

  &--small
    + label:after
      width: 21px
      top: -4px
      bottom: -3px

  &--medium
    + label:after
      width: 32px
      top: -6px
      bottom: -5px

  &--large
    + label:after
      width: 48px
      top: -9px
      bottom: -8px

  &:checked + label:before
    background-color: $bg-enabled

  &:checked + label:after
    background-color: $btn-enabled

  &--small
    &:checked + label:after
      transform: translateX(21px)

  &--medium
    &:checked + label:after
      transform: translateX(30px)

  &--large
    &:checked + label:after
      transform: translateX(44px)
