.yoo-switch
  visibility: hidden
  position: absolute
  margin-left: -9999px

  + label
    display: block
    position: relative
    cursor: pointer
    outline: none
    user-select: none

  &--small
    + label
      width: $spacing-lg
      height: $spacing-md
      border-radius: $spacing-xs * 5

  &--medium
    + label
      width: $spacing-lg * 2
      height: $spacing-xs * 5
      border-radius: $spacing-xl

  &--large
    + label
      width: $spacing-lg * 3
      height: $spacing-xl
      border-radius: $spacing-lg * 2

  + label:before,
  + label:after
    display: block
    position: absolute
    content: ""

  + label:before
    background-color: rgba(color($grey, 'greyLight'), 0.4)
    border-radius: 60px
    transition: background 0.4s
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px

  + label:after
    background-color: color($grey, 'greyLightest')
    border-radius: 100%
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.32)
    transition: all 0.4s
    top: 0px
    bottom: 0px
    left: -8px

  &--small
    + label:after
      width: $spacing-xs * 5
      top: -3px
      bottom: -3px

  &--medium
    + label:after
      width: $spacing-xl
      top: -6px
      bottom: -5px

  &--large
    + label:after
      width: $spacing-lg * 2
      top: -9px
      bottom: -8px

  &:checked + label:before
    background-color: rgba(color($primary, 'primaryBase'), 0.4)

  &:checked + label:after
    background-color: color($primary, 'primaryBase')

  &--small
    &:checked + label:after
      transform: translateX($spacing-xs * 5)

  &--medium
    &:checked + label:after
      transform: translateX($spacing-xl)

  &--large
    &:checked + label:after
      transform: translateX($spacing-lg * 1.7)
