.yoo-stepper
  &__number
    color: color($grey, 'greyDark')
    font-family: $font-primary
    +font-weight('regular')
    +font-size('md')
    text-align: center
    min-width: $spacing-hg + $spacing-md
    word-wrap: break-word
  &__dot
    background: color($grey, 'greyDark')
    +border-radius('circular')
    width: $spacing-sm
    height: $spacing-sm
    &--active
      background: color($grey, 'greyDark')
      width: $spacing-sm + $spacing-tn
      height: $spacing-sm + $spacing-tn
    &--last
      margin-right: 0