.separator
  height: 40px
  width: 100%
  display: flex
  align-items: center
  +font-family('$font-primary')
  +font-size('md')
  +font-weight('semi-bold')
  &--fill-default
    background-color: color($grey, 'greyLightest')

  &--fill-primary
    background-color: color($primary, 'primaryBase')
    color: $white

  &--fill-danger
    background-color: color($danger, 'dangerBase')
    color: $white