.warning
  width: 100%
  +font($white, 'md', '$font-primary', 'medium')
  display: flex
  align-items: center
  &__icon
    +font-size('xl')

  &__title
    +font-weight('bold')

  &--clear
    background-color: color($grey, 'greyLightest')
    color: color($grey, 'greyDark')

  &--danger
    background-color: color($danger, 'dangerBase')

  &--clear .warning__icon
    color: color($danger, 'dangerBase')