.yoo-warning
  width: 100%
  +font($white, 'md', '$font-primary', 'medium')
  display: flex
  align-items: center
  &__icon
    +font-size('xl')

  &__title
    +font-weight('bold')
  &__variation
    &--default
      background-color: color($grey, 'greyDark')
      color: $white  
    &--danger
      background-color: color($danger, 'dangerBase')
    &--clear
      background-color: color($grey, 'greyLightest')
      color: color($grey, 'greyDark')
      .yoo-warning__icon
            color: color($danger, 'dangerBase')