//////////////////////////////
//           BORDER         //
//////////////////////////////

// Tokens : Sizes
@import '../quarks/spacing'

=border($modifier, $color, $type, $radius)
  @if $modifier == 'xs'
    border-width: 0.5px
    border-color: $color
    border-style: $type
    +border-radius($radius)
  @else if $modifier == 'sm'
    border-width: 1px
    border-color: $color
    border-style: $type
    +border-radius($radius)
  @else if $modifier == 'md'
    border-width: 2px
    border-color: $color
    border-style: $type
    +border-radius($radius)
  @else if $modifier == 'lg'
    border-width: $spacing-xs
    border-color: $color
    border-style: $type
    +border-radius($radius)
  @else if $modifier == 'none'
    border-width: 0px
    border-color: $color
    border-style: $type
    +border-radius($radius)

=border-radius($modifier)
  @if $modifier == 'sm'
    border-radius: $spacing-xs
  @else if $modifier == 'md'
    border-radius: $spacing-sm
  @else if $modifier == 'lg'
    border-radius: $spacing-md - 4
  @else if $modifier == 'pill'
    border-radius: 500px
  @else if $modifier == 'circular'
    border-radius: 50%
  @else if $modifier == 'none'
    border-radius: 0
  @else
    border-radius: 0
