//////////////////////////////
//          COLORS         //
//////////////////////////////

=text-color($variation, $color)
  color: map-get($variation, $color)

=background-color($variation, $color)
  background-color: map-get($variation, $color)

=border-color($variation, $color)
  border-color: map-get($variation, $color)