.yoo-indicator__container
  +flex(row, wrap, center, center)
  font-family: $font-primary

.yoo-indicator
  +border-radius('circular')
  animation-duration: 2s
  animation-timing-function: cubic-bezier(.28,.68,.75,.78)
  animation-fill-mode: forwards
  animation-iteration-count: infinite
  +flex(row, wrap, center, center)

  &--pulse
    animation-name: pulse

  &--normal
    width: $spacing-lg 
    height: $spacing-lg
    +font-size('md')

  &--small
    width: $spacing-sm
    height: $spacing-sm
    +font-size('tn' - 2)

  &--medium
    width: $spacing-md
    height: $spacing-md
    +font-size('xs')

  &--large
    width: $spacing-xl
    height: $spacing-xl
    +font-size('lg')

  &--primary
    background: map-get($primary, 'primaryBase')
    color: $white

  &--danger
    background: map-get($danger, 'dangerBase')
    color: $white

  &--light
    background: map-get($grey, 'greyLight')

  &--dark
    background: map-get($grey, 'greyDark')
    color: $white

  &--neutral
    background: $white

@keyframes pulse
  0%
    transform: scale(.95)
  70%
    transform: scale(1.3)
  80%
    transform: scale(1.1)
  90%
    transform: scale(1.3)
  100%
    transform: scale(.95)
