/*==== Colors ====*/

[data-composition="default"] {
  --primaryDarkest: #008080;
  --primaryDark: #1DBABA;
  --primaryBase: #47C8C3;
  --primaryLight: #B0E7E5;
  --primaryLightest: #C3ECEb;
  --dangerDarkest: #CB0A22;
  --dangerDark: #E83C4B;
  --dangerBase: #F4596C;
  --dangerLight: #FF7888;
  --dangerLightest: #FF99A5;
  --greyDarkest: #212325;
  --greyDark: #5A5F67;
  --greyBase: #8F959F;
  --greyLight: #D6DBE2;
  --greyLightest: #F5F6F7;
};