/*===== Animation Size ====*/
$animation-width: 100% !default
$animation-height: 100vh !default

/*===== Animation Z-index ====*/
$animation-z-index: 999 !default

.yoo-animation
  width: $animation-width
  height: $animation-height
  +flex(row, wrap, center, center)
  z-index: $animation-z-index