@import "../themes/global.scss"

@import '../bosons/colors'
@import '../bosons/margin'
@import '../bosons/padding'
@import '../bosons/YooGridLayout'
@import '../bosons/YooFlexLayout'
@import '../bosons/YooScrollView'

@import '../quarks/colors'
@import '../quarks/animation'
@import '../quarks/border'
@import '../quarks/shadows'
@import '../quarks/typography'
@import '../quarks/flex'

.yoo-animation
  position: fixed
  width: 100%
  height: 100vh
  +flex(row, wrap, center, center)
  background: rgba(255,255,255,0.7)
  z-index: 999