@import '../quarks/variables'

.yoo-avatar
  border-radius: $avatar-border-radius
  +flex(row, wrap, center, center)
  background: var(--primaryBase)
  font-family: var(--fontFamily-primary)
  font-weight: $avatar-font-weight

  &--sm
    width: $avatar-size-sm
    height: $avatar-size-sm
    font-size: $avatar-font-size-sm

  &--md
    width: $avatar-size-md
    height: $avatar-size-md
    font-size: $avatar-font-size-md

  &--lg
    width: $avatar-size-lg
    height: $avatar-size-lg
    font-size: $avatar-font-size-lg

  &--xl
    width: $avatar-size-xl
    height: $avatar-size-xl
    font-size: $avatar-font-size-xl

  &--hg
    width: $avatar-size-hg
    height: $avatar-size-hg
    font-size: $avatar-font-size-hg

  &--primary
    background: var(--primaryBase)

  &--danger
    background: var(--dangerBase)

  &--light
    background: var(--primaryBase)

  &--dark
    background: var(--greyBase)

  &__text
    color: var(--color-white)
    &--light
      color: var(--color-white)
    &--dark
      color: var(--greyDark)