/*===== Variations Avatar Sizing ====*/
$avatar-size-sm: 2.5rem !default
$avatar-size-md: 3.5rem !default
$avatar-size-lg: 5rem !default
$avatar-size-xl: 6.5rem !default
$avatar-size-hg: 7.5rem !default

/*===== Variations Avatar Font Sizing ====*/
$avatar-font-size-tn: $font-size-tn !default
$avatar-font-size-xs: $font-size-xs !default
$avatar-font-size-sm: $font-size-sm !default
$avatar-font-size-md: $font-size-base !default
$avatar-font-size-lg: $font-size-lg !default
$avatar-font-size-xl: $font-size-xl !default
$avatar-font-size-hg: $font-size-hg !default

/*===== Avatar Font Weight ====*/
$avatar-font-weight: $weight-bold !default

/*===== Avatar Border Radius ====*/
$avatar-border-radius: $border-radius-circular !default

.yoo-avatar
  border-radius: $avatar-border-radius
  +flex(row, wrap, center, center)
  background: var(--primaryBase)
  font-family: var(--fontFamily-primary)
  font-weight: $avatar-font-weight

  &--sm
    width: $avatar-size-sm
    height: $avatar-size-sm
    font-size: $avatar-font-size-sm

  &--md
    width: $avatar-size-md
    height: $avatar-size-md
    font-size: $avatar-font-size-md

  &--lg
    width: $avatar-size-lg
    height: $avatar-size-lg
    font-size: $avatar-font-size-lg

  &--xl
    width: $avatar-size-xl
    height: $avatar-size-xl
    font-size: $avatar-font-size-xl

  &--hg
    width: $avatar-size-hg
    height: $avatar-size-hg
    font-size: $avatar-font-size-hg

  &--primary
    background: var(--primaryBase)

  &--danger
    background: var(--dangerBase)

  &--light
    background: var(--primaryBase)

  &--dark
    background: var(--greyBase)

  &__text
    color: var(--color-white)
    &--light
      color: var(--color-white)
    &--dark
      color: var(--greyDark)