/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * Sass Yoonit Style
 * The SASS Atomic Design System that powers Web & Native Yoonit Components
 *
 * Luigui Delyer, Vitória Costa, Sabrina Sampaio, Gabriel Moraes, Tiago Brito, Fernando Junior, Ronalson Filho, Gabriel Moraes, Gabriel Mule & Gabriel Rizzo @ 2020-2021
 */

/*===== check-button Size ====*/
$check-button-size-sm: 1rem !default
$check-button-size-md: 1.5rem !default
$check-button-size-lg: 2rem !default

/*===== check-button Font Sizing ====*/
$check-button-font-size-sm: $font-size-sm !default
$check-button-font-size-md: $font-size-md !default
$check-button-font-size-lg: $font-size-lg !default

/*===== check-button Font Weight ====*/
$check-button-font-weight: $weight-medium !default

/*===== check-button Card ====*/
$check-button-card-transition: 0.2s ease !default
$check-button-card-border-radius: 3px !default
$check-button-card-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2) !default

.yoo-checkbox input
  display: none

.yoo-checkbox
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &__card
    transition: $check-button-card-transition
    box-shadow: $check-button-card-box-shadow
    border-radius: $check-button-card-border-radius
    color: var(--grey-base)
    &--active
      display: block
      align-items: center
      background: var(--primary-base)
      color: var(--color-white)

  &__text
    font-family: var(--font-family-primary)
    font-weight: $check-button-font-weight
    margin-left: 1rem

    &--right
      flex-direction: row-reverse
      > p
        margin-right: 1rem

  &--small
    font-size: $check-button-font-size-sm
    &:before
      width: $check-button-size-sm
      height: $check-button-size-sm
      min-width: $check-button-size-sm
      min-height: $check-button-size-sm

  &--medium
    font-size: $check-button-font-size-md
    &:before
      width: $check-button-size-md
      height: $check-button-size-md
      min-width: $check-button-size-md
      min-height: $check-button-size-md

  &--large
    font-size: $check-button-font-size-lg
    &:before
      width: $check-button-size-lg
      height: $check-button-size-lg
      min-width: $check-button-size-lg
      min-height: $check-button-size-lg

  &__check
    +flex(row, wrap, flex-start, center)

    &::before
      content: ''
      vertical-align: middle
      display: inline-flex
      justify-content: center
      align-items: center
      background: var(--color-white)
      border: 2px solid var(--grey-base)
      cursor: pointer

    &--square
      &::before
        border-radius: $border-radius-none

    &--rounded
      &::before
        border-radius: $border-radius-circular

    &--active
      &:before
        content: '\f00c'
        background: var(--primary-base)
        color: var(--color-white)
        border: 2px solid var(--primary-base)

    &--card-active
      &:before
        content: '\f00c'
        background: var(--color-white)
        color: var(--primary-base)
        border: 2px solid var(--color-white)

    &--disabled
      &:before
        content: '\f00c'
        background: var(--grey-light)
        color: var(--color-white)
        border: 2px solid var(--grey-light)
        cursor: default
