.yoo-dropdown
  cursor: pointer
  font-family: $font-primary
  +font-weight('regular')
  text-transform: uppercase
  +box-shadow('soft', #00000029)
  border-radius: 1px
  font-family: $font-primary
  +font-weight('medium')
  color: map-get($grey, 'greyBase')
  width: max-content

  &__select
    .select
      +flex(row, wrap, center, center)
      overflow: hidden
      &__text
        font-family: $font-primary
        +font-weight('semi-bold')
        color: map-get($grey, 'greyDark')
        margin: 15px 20px

  &__options
    .option
      +flex(row, wrap, center, center)
      overflow: hidden
      &__text
        font-family: $font-primary
        +font-weight('semi-bold')
        color: map-get($grey, 'greyBase')
        margin: 15px 20px

      &:first-child
        .option
          &__text
            color: map-get($grey, 'greyDark')

  // MOD: VARIATION
  &--small
    +font-size('sm')
  
  &--medium
    +font-size('md')

  &--large
    +font-size('lg')

