@import '../quarks/variables'

.yoo-stepper
  &__number
    color: var(--greyDark)
    font-family: var(--fontFamily-primary)
    font-weight: $stepper-font-weight
    font-size: $stepper-font-size
    text-align: center
    min-width: $stepper-number-min-width
    word-wrap: break-word
  &__dot
    background: var(--greyDark)
    border-radius: $stepper-dot-radius
    width: $stepper-dot-width
    height: $stepper-dot-height
    &--active
      background: var(--greyDark)
      width: $stepper-dot-active-width
      height: $stepper-dot-active-height
    &--last
      margin-right: 0