.yoo-selectdate
  &__separator
    +font(var(--greyDarkest), 'xl', '$font-primary', 'medium')

  &__container
    position: relative
    overflow: hidden
    height: 9rem
  
  &__item
    +font(var(--greyLight), 'xl', '$font-primary', 'medium')
    padding: $spacing-base 0
    min-width: 4.5rem
    text-align: center
    cursor: pointer

    &--active
      color: var(--greyDarkest)
      border-top: $spacing-tn solid var(--greyBase)
      border-bottom: $spacing-tn solid var(--greyBase)
      cursor: default