/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * Sass Yoonit Style
 * The SASS Atomic Design System that powers Web & Native Yoonit Components
 *
 * Luigui Delyer, Vitória Costa, Sabrina Sampaio, Gabriel Moraes, Tiago Brito, Fernando Junior, Ronalson Filho, Gabriel Moraes, Gabriel Mule & Gabriel Rizzo @ 2020-2021
 */

.yoo-selectdate
  &__separator
    +font(var(--grey-darkest), 'xl', '$font-primary', 'medium')

  &__container
    position: relative
    overflow: hidden
    height: 9rem

  &__item
    +font(var(--grey-light), 'xl', '$font-primary', 'medium')
    padding: $spacing-base 0
    min-width: 4.5rem
    text-align: center
    cursor: pointer

    &--active
      color: var(--grey-darkest)
      border-top: $spacing-tn solid var(--grey-base)
      border-bottom: $spacing-tn solid var(--grey-base)
      cursor: default
