@import "../quarks/global.scss"

.yoo-tag
  +font-family('$font-primary')

  &__notag
    +font-weight('medium')
    +font-size('md')
    word-wrap: anywhere
    color: var(--greyBase)
      
  &__item
    $self: &
    +font-weight('medium')
    +font-size('xs')
    text-align: right
    word-wrap: anywhere
    padding: var(--spacing-xs) var(--spacing-sm)
    margin: 0 var(--spacing-xs) var(--spacing-xs) 0
    color: var(--greyBase)
    +border('sm', var(--greyBase), solid, 'lg')

  &__fill
    &--primary.yoo-tag__item--on
      color: var(--primaryDark)
      +border('sm', var(--primaryDark), solid, 'lg')
    &--danger.yoo-tag__item--on
      color: var(--dangerBase)
      +border('sm', var(--dangerBase), solid, 'lg')
    &--neutral.yoo-tag__item--on
      color: var(--greyBase)
      +border('sm', var(--greyBase), solid, 'lg')
    &--dark.yoo-tag__item--on
      color: var(--greyDark)
      +border('sm', var(--greyDark), solid, 'lg')
    &--black.yoo-tag__item--on
      color: var(--color-black)
      +border('sm', var(--color-black), solid, 'lg')
    &--white.yoo-tag__item--on
      color: var(--color-white)
      +border('sm', var(--color-white), solid, 'lg')
