@import "../quarks/global.scss"

.yoo-warning
  width: 100%
  +font(var(--color-white), 'md', '$font-primary', 'medium')
  +flex(row, wrap, flex-start, center)
  &__icon
    +font-size('xl')

  &__title
    +font-weight('bold')
  &__variation
    &--default
      background-color: var(--greyDark)
      color: var(--color-white)  
    &--danger
      background-color: var(--dangerBase)
    &--clear
      background-color: var(--greyLightest)
      color: var(--greyDark)
      .yoo-warning__icon
            color: var(--dangerBase)