// BASIC MIXINS
@import ./imports/_helpers

// MEDIA MIXINS
@import ./imports/_media

////////////////////////////////
//       COLOR PALLET        //
////////////////////////////////

/*==== Brand Color ====*/

$primaryDarkest: #008080
$primaryDark: #1DBABA
$primaryBase: #ddd
$primaryLight: #76D6D2

/*==== Danger Color ====*/

$dangerDarkest: #CB0A22
$dangerDark: #E83C4B
$dangerBase: #F4596C 
$dangerLight: #FF7888 

/*==== Neutral Color ====*/

$greyDarkest: #212325
$greyDark: #5A5F67
$greyMedium: #8F959F
$greyLight: #D6DBE2
$greyLightest: #F5F6F7

/*==== Basic Colors ====*/

$black: #000000
$white: #FFFFFF
$transparent: rgba(255, 255, 255, 0)
