.yoo-selectdate

  &__separator
    +font(map-get($grey, 'greyDarkest'), 'xl', $font-primary, 'medium')

  &__container
    position: relative
    overflow: hidden
    height: $spacing-md * 9
  
  &__item
    +font(map-get($grey, 'greyLight'), 'xl', $font-primary, 'medium')
    padding: $spacing-md 0
    min-width: $spacing-lg * 3
    text-align: center
    cursor: pointer

    &--active
      color: map-get($grey, 'greyDarkest')
      border-top: $spacing-tn solid map-get($grey, 'greyBase')
      border-bottom: $spacing-tn solid map-get($grey, 'greyBase')
      cursor: default