.yoo-infinite
  height: 100%
  overflow: auto
  &__actionable
    position: relative
  &__loader
    position: absolute
    top: 20px
    left: 50%
    transform: translate(-50%, -50%)
    width: 35px
    height: 35px
    border-radius: 50%
    border: 5px solid rgba(255, 255, 255, .2)
    border-top: 5px solid
    animation: animate 1.5s infinite linear
    &--small
      width: 25px
      height: 25px 
    &--large
      width: 50px
      height: 50px
    &--primary
      border-top-color: var(--primaryDark)
    &--danger
      border-top-color: var(--dangerBase)
    &--light
      border-top-color: var(--greyBase)
    &--dark
      border-top-color: var(--greyDark)
    &--white
      border-top-color: var(--color-white)
    &--black
      border-top-color: var(--color-black)

@keyframes animate
  0%
    transform: translate(-50%,-50%) rotate(0deg)

  100%
    transform: translate(-50%,-50%) rotate(360deg)