=flex($typeFlex, $wrapFlex, $justifyFlex, $alignFlex)
  display: flex
  flex-direction: $typeFlex

  @if $wrapFlex == wrap
    flex-wrap: wrap
  @else if $wrapFlex == w
    flex-wrap: wrap
  @else if $wrapFlex == nowrap
    flex-wrap: nowrap
  @else if $wrapFlex == n
    flex-wrap: nowrap
  @else if $wrapFlex == ''
    flex-wrap: nowrap

  justify-content: $justifyFlex
  align-content: $alignFlex
  align-items: $alignFlex