/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * Sass Yoonit Style
 * The SASS Atomic Design System that powers Web & Native Yoonit Components
 *
 * Luigui Delyer, Vitória Costa, Sabrina Sampaio, Gabriel Moraes, Tiago Brito, Fernando Junior, Ronalson Filho, Gabriel Moraes, Gabriel Mule & Gabriel Rizzo @ 2020-2021
 */

/*===== infinite-scroll Size ====*/
$infinite-scroll-height: 100% !default

/*===== infinite-scroll Overflow ====*/
$infinite-scroll-overflow: auto !default

/*===== infinite-scroll Loader ====*/
$infinite-scroll-loader-position: absolute !default
$infinite-scroll-loader-position-top: 1.25rem !default
$infinite-scroll-loader-position-left: 50% !default
$infinite-scroll-loader-width: 2.1875rem !default
$infinite-scroll-loader-height: 2.1875rem !default
$infinite-scroll-loader-border-radius: 50% !default
$infinite-scroll-loader-border: 5px solid rgba(255, 255, 255, .2) !default
$infinite-scroll-loader-border-top: 5px solid !default
$infinite-scroll-loader-animation: animate 1.5s infinite linear !default
$infinite-scroll-loader-small-width: 1.5625rem !default
$infinite-scroll-loader-small-height: 1.5625rem !default
$infinite-scroll-loader-large-width: 3.125rem !default
$infinite-scroll-loader-large-height: 3.125rem !default

.yoo-infinite
  height: $infinite-scroll-height
  overflow: $infinite-scroll-overflow
  &__actionable
    position: relative
  &__loader
    position: $infinite-scroll-loader-position
    top: $infinite-scroll-loader-position-top
    left: $infinite-scroll-loader-position-left
    transform: translate(-50%, -50%)
    width: $infinite-scroll-loader-width
    height: $infinite-scroll-loader-height
    border-radius: $infinite-scroll-loader-border-radius
    border: $infinite-scroll-loader-border
    border-top: $infinite-scroll-loader-border-top
    animation: $infinite-scroll-loader-animation
    &--small
      width: $infinite-scroll-loader-small-width
      height: $infinite-scroll-loader-small-height
    &--large
      width: $infinite-scroll-loader-large-width
      height: $infinite-scroll-loader-large-height
    &--primary
      border-top-color: var(--primary-dark)
    &--danger
      border-top-color: var(--danger-base)
    &--light
      border-top-color: var(--grey-base)
    &--dark
      border-top-color: var(--grey-dark)
    &--white
      border-top-color: var(--color-white)
    &--black
      border-top-color: var(--color-black)

@keyframes animate
  0%
    transform: translate(-50%,-50%) rotate(0deg)

  100%
    transform: translate(-50%,-50%) rotate(360deg)
