/**
 * ██╗   ██╗ ██████╗  ██████╗ ███╗   ██╗██╗████████╗
 * ╚██╗ ██╔╝██╔═══██╗██╔═══██╗████╗  ██║██║╚══██╔══╝
 *  ╚████╔╝ ██║   ██║██║   ██║██╔██╗ ██║██║   ██║
 *   ╚██╔╝  ██║   ██║██║   ██║██║╚██╗██║██║   ██║
 *    ██║   ╚██████╔╝╚██████╔╝██║ ╚████║██║   ██║
 *    ╚═╝    ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝
 *
 * https://yoonit.dev - about@yoonit.dev
 *
 * Sass Yoonit Style
 * The SASS Atomic Design System that powers Web & Native Yoonit Components
 *
 * Luigui Delyer, Vitória Costa, Sabrina Sampaio, Gabriel Moraes, Tiago Brito, Fernando Junior, Ronalson Filho, Gabriel Moraes, Gabriel Mule & Gabriel Rizzo @ 2020-2021
 */

/*===== scroll-view Display ====*/
$scroll-view-display: block !default

/*===== scroll-view Scrollbar Width ====*/
$scroll-view-scrollBar-width: thin !default

/*===== scroll-view Scrollbar Size ====*/
$scroll-view-scrollBar-size-width: $spacing-sm !default
$scroll-view-scrollBar-size-height: $spacing-sm !default

.yoo-scroll-view
  display: $scroll-view-display
  scrollbar-color: var(--primary-base) var(--grey-lightest)
  scrollbar-width: $scroll-view-scrollBar-width

  &::-webkit-scrollbar
    width: $scroll-view-scrollBar-size-width
    height: $scroll-view-scrollBar-size-height
    background-color: var(--grey-lightest)

  &::-webkit-scrollbar-thumb
    background: var(--primary-base)

  &--vertical
    overflow-x: hidden
    overflow-y: scroll

  &--horizontal
    overflow-x: scroll
    overflow-y: hidden
